.version.baseball /* version checker */
{
	color: #000006;
	background-color: #B6C4D7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -23px;
	padding-bottom: 626px;
	width: 0.01px;
}

#pu2373
{
	width: 0.01px;
	margin-left: -173px;
}

#u2373
{
	z-index: 22;
	width: 1342px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2375
{
	z-index: 24;
	width: 373px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 497px;
}

#u2448
{
	z-index: 26;
	min-height: 76px;
	border-color: #000000;
	background-color: #8C2930;
	padding-bottom: 396px;
}

#u2448_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u3420-4
{
	z-index: 74;
	width: 373px;
	min-height: 42px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 33px;
	line-height: 40px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 423px;
}

#u2448-bw
{
	z-index: 26;
	min-height: 76px;
	margin-top: 450px;
}

#pamphletu5005
{
	z-index: 78;
	width: 0.01px;
	height: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 576px;
	left: 447px;
}

#u5026
{
	z-index: 79;
	width: 472px;
	position: relative;
	margin-right: -10000px;
}

#u5027
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u5029
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	left: 252px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u5027.PamphletThumbSelected,#u5029.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 220px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u5006
{
	position: absolute;
	width: 190px;
	top: 15px;
	left: 268px;
}

#u5006popup
{
	z-index: 82;
}

#u5017
{
	z-index: 83;
	width: 168px;
	height: 106px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -251px;
	padding: 60px 11px 31px;
}

#u5020-4
{
	z-index: 84;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	position: relative;
}

#u5021-4
{
	z-index: 88;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	position: relative;
}

#u5018
{
	z-index: 92;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 23px;
	position: relative;
}

#u5012
{
	z-index: 94;
	width: 168px;
	height: 97px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	padding: 60px 11px 33px;
}

#u5014-4
{
	z-index: 95;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5013-4
{
	z-index: 99;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	margin-top: 2px;
	position: relative;
}

#u5015
{
	z-index: 103;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 12px;
	position: relative;
}

#menuu5728
{
	z-index: 105;
	width: 1051px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 394px;
	left: 172px;
}

#u5785
{
	width: 220px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u5786
{
	width: 220px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5786:hover
{
	background-color: #3E567D;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u5786:active
{
	background-color: #3E567D;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u5787
{
	height: 24px;
	width: 56px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 82px;
	background: url("../images/u5787.png") no-repeat 0px 0px;
}

#u5786.MuseMenuActive #u5787
{
	background: url("../images/u5787-a.png") no-repeat 0px 0px;
}

#u5729
{
	width: 236px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 236px;
}

#u5730
{
	width: 236px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5730:hover
{
	background-color: #3E567D;
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u5730:active
{
	background-color: #3E567D;
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u5732
{
	height: 24px;
	width: 59px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 81px;
	background: url("../images/u5732.png") no-repeat 0px 0px;
}

#u5730.MuseMenuActive #u5732
{
	background: url("../images/u5732-a.png") no-repeat 0px 0px;
}

#u5731
{
	z-index: 116;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	left: 140px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u5730:hover #u5731
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5730:active #u5731
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5730.MuseMenuActive #u5731
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5734
{
	width: 228px;
	background-color: transparent;
	top: 54px;
}

#u5735
{
	width: 228px;
	background-color: transparent;
	position: relative;
}

#u5735:hover
{
	background-color: #577797;
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u5737
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5779
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5739-4,#u5782-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 59px;
}

#u5739-4_clip,#u5782-4_clip
{
	overflow: hidden;
	width: 103px;
	height: 22px;
	vertical-align: top;
}

#u5767
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5770-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 83px;
}

#u5770-4_clip
{
	overflow: hidden;
	width: 56px;
	height: 22px;
	vertical-align: top;
}

#u5753
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u5753.MuseMenuActive
{
	background-color: #577797;
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5754-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 82px;
}

#u5754-4_clip
{
	overflow: hidden;
	width: 57px;
	height: 22px;
	vertical-align: top;
}

#u5746
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5747-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 85px;
}

#u5747-4_clip
{
	overflow: hidden;
	width: 52px;
	height: 22px;
	vertical-align: top;
}

#u5772
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5774-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 77px;
}

#u5774-4_clip
{
	overflow: hidden;
	width: 67px;
	height: 22px;
	vertical-align: top;
}

#u5736,#u5778,#u5764,#u5750,#u5743,#u5771,#u5757
{
	width: 228px;
	background-color: transparent;
	position: relative;
}

#u5758
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5737:hover,#u5779:hover,#u5767:hover,#u5746:hover,#u5772:hover,#u5758:hover
{
	border-color: #FFFFFF;
	background-color: #577797;
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5760-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 78px;
}

#u5760-4_clip
{
	overflow: hidden;
	width: 65px;
	height: 22px;
	vertical-align: top;
}

#u5739-4_img,#u5782-4_img,#u5770-4_img,#u5754-4_img,#u5747-4_img,#u5774-4_img,#u5760-4_img
{
	display: block;
}

#u5799
{
	width: 312px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 484px;
}

#u5802
{
	width: 312px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5802:hover
{
	background-color: #3E567D;
	width: 312px;
	min-height: 0px;
	margin: 0px;
}

#u5802:active
{
	background-color: #3E567D;
	width: 312px;
	min-height: 0px;
	margin: 0px;
}

#u5803
{
	height: 24px;
	width: 149px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 81px;
	background: url("../images/u5803.png") no-repeat 0px 0px;
}

#u5802.MuseMenuActive #u5803
{
	background: url("../images/u5803-a.png") no-repeat 0px 0px;
}

#u5792
{
	width: 239px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 808px;
}

#u5795
{
	width: 239px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5795:hover
{
	background-color: #3E567D;
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u5795:active
{
	background-color: #3E567D;
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u5796
{
	height: 24px;
	width: 76px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 81px;
	background: url("../images/u5796.png") no-repeat 0px 0px;
}

#u5795.MuseMenuActive #u5796
{
	background: url("../images/u5796-a.png") no-repeat 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u3177-4
{
	z-index: 70;
	width: 298px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 361px;
	margin-top: 8px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3177
{
	text-decoration: underline;
}

#pu3165
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
}

#u3165
{
	z-index: 27;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3165_position_content
{
	padding-top: 14px;
	padding-bottom: 31px;
}

#u3168-4
{
	z-index: 30;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3174-4
{
	z-index: 58;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3171-4
{
	z-index: 42;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 47px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3167
{
	z-index: 29;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.350000000000477px;
	position: relative;
	margin-right: -10000px;
	left: 345px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3170-4
{
	z-index: 38;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3176-4
{
	z-index: 66;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3173-6
{
	z-index: 52;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3166
{
	z-index: 28;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.350000000000477px;
	position: relative;
	margin-right: -10000px;
	left: 690px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3169-4
{
	z-index: 34;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3175-4
{
	z-index: 62;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3172-6
{
	z-index: 46;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3171-2,#u3173-2,#u3173-4,#u3172-2,#u3172-4
{
	padding-top: 15px;
}

#pu2346
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 44px;
}

#u2346
{
	z-index: 4;
	height: 718px;
	border-color: #000000;
	background-color: #8C2930;
}

#u2346-bw
{
	z-index: 4;
	height: 718px;
}

#pamphletu2347
{
	z-index: 5;
	width: 0.01px;
	height: 65px;
	padding-bottom: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 120px;
}

#u2352
{
	z-index: 6;
	width: 715px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u2354
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 105px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2356
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 210px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2353
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 315px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2357
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 420px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2358
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 525px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2359
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 630px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2355
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2354.PamphletThumbSelected,#u2356.PamphletThumbSelected,#u2353.PamphletThumbSelected,#u2357.PamphletThumbSelected,#u2358.PamphletThumbSelected,#u2359.PamphletThumbSelected,#u2355.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 85px;
	height: 65px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u2360
{
	position: absolute;
	width: 980px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 83px;
}

#u2360popup
{
	z-index: 14;
}

#u2365
{
	z-index: 15;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2367
{
	z-index: 16;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2362
{
	z-index: 17;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2361
{
	z-index: 18;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2363
{
	z-index: 19;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2364
{
	z-index: 20;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2366
{
	z-index: 21;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u6469
{
	z-index: 2;
	width: 1220px;
	background-color: transparent;
	position: fixed;
	top: 1891px;
	left: -100px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

