.version.boys_basketball /* version checker */
{
	color: #000002;
	background-color: #1F1E20;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -23px;
	padding-bottom: 589px;
	width: 0.01px;
}

#pu2046
{
	width: 0.01px;
	margin-left: -173px;
}

#u2046
{
	z-index: 22;
	width: 1342px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2048
{
	z-index: 24;
	width: 373px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 497px;
}

#u2121
{
	z-index: 26;
	min-height: 59px;
	border-color: #000000;
	background-color: #8C2930;
	padding-bottom: 413px;
}

#u2121_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u4305-4
{
	z-index: 74;
	width: 373px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 33px;
	line-height: 40px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 423px;
}

#u2121-bw
{
	z-index: 26;
	min-height: 59px;
	margin-top: 450px;
}

#pamphletu4695
{
	z-index: 78;
	width: 0.01px;
	height: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 553px;
	left: 321px;
}

#u4700
{
	z-index: 79;
	width: 724px;
	position: relative;
	margin-right: -10000px;
}

#u4703
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	background: transparent url("../images/3177_1080334049498_4380347_n.jpg") no-repeat center center;
	background-size: cover;
}

#u4704
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	left: 252px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u4706
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	left: 504px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u4703.PamphletThumbSelected,#u4704.PamphletThumbSelected,#u4706.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 220px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u4708
{
	position: absolute;
	width: 190px;
	top: 12px;
	left: 17px;
}

#u4708popup
{
	z-index: 83;
}

#u4729
{
	z-index: 84;
	width: 168px;
	height: 69px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	padding: 60px 11px 68px;
}

#u4733-4
{
	z-index: 85;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	position: relative;
}

#u4730-4
{
	z-index: 89;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	position: relative;
}

#u6494-4
{
	z-index: 93;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	position: relative;
}

#u4739
{
	z-index: 97;
	width: 168px;
	height: 97px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 251px;
	padding: 60px 11px 33px;
}

#u4740-4
{
	z-index: 98;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u4743-4
{
	z-index: 102;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	margin-top: 2px;
	position: relative;
}

#u4741
{
	z-index: 106;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 12px;
	position: relative;
}

#u4719
{
	z-index: 108;
	width: 168px;
	height: 97px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 504px;
	padding: 60px 11px 33px;
}

#u4723-4
{
	z-index: 109;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u4722-4
{
	z-index: 113;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	margin-top: 2px;
	position: relative;
}

#u4720
{
	z-index: 117;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 12px;
	position: relative;
}

#menuu5402
{
	z-index: 119;
	width: 1052px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
	left: 173px;
}

#u5473
{
	width: 220px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u5476
{
	width: 220px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5476:hover
{
	background-color: #3E567D;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u5476:active
{
	background-color: #3E567D;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u5478
{
	height: 24px;
	width: 56px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 82px;
	background: url("../images/u5478.png") no-repeat 0px 0px;
}

#u5476.MuseMenuActive #u5478
{
	background: url("../images/u5478-a.png") no-repeat 0px 0px;
}

#u5403
{
	width: 237px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 236px;
}

#u5455
{
	width: 237px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5455:hover
{
	background-color: #3E567D;
	width: 237px;
	min-height: 0px;
	margin: 0px;
}

#u5455:active
{
	background-color: #3E567D;
	width: 237px;
	min-height: 0px;
	margin: 0px;
}

#u5458
{
	height: 24px;
	width: 59px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 82px;
	background: url("../images/u5458.png") no-repeat 0px 0px;
}

#u5455.MuseMenuActive #u5458
{
	background: url("../images/u5458-a.png") no-repeat 0px 0px;
}

#u5456
{
	z-index: 130;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	left: 141px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u5455:hover #u5456
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5455:active #u5456
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5455.MuseMenuActive #u5456
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5404
{
	width: 228px;
	background-color: transparent;
	top: 54px;
}

#u5405
{
	width: 228px;
	background-color: transparent;
	position: relative;
}

#u5405:hover
{
	background-color: #577797;
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u5407
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u5407.MuseMenuActive
{
	background-color: #577797;
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5414
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5410-4,#u5415-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 59px;
}

#u5410-4_clip,#u5415-4_clip
{
	overflow: hidden;
	width: 103px;
	height: 22px;
	vertical-align: top;
}

#u5442
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5445-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 83px;
}

#u5445-4_clip
{
	overflow: hidden;
	width: 56px;
	height: 22px;
	vertical-align: top;
}

#u5435
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5437-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 82px;
}

#u5437-4_clip
{
	overflow: hidden;
	width: 57px;
	height: 22px;
	vertical-align: top;
}

#u5423
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5424-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 85px;
}

#u5424-4_clip
{
	overflow: hidden;
	width: 52px;
	height: 22px;
	vertical-align: top;
}

#u5449
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5450-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 77px;
}

#u5450-4_clip
{
	overflow: hidden;
	width: 67px;
	height: 22px;
	vertical-align: top;
}

#u5406,#u5413,#u5441,#u5434,#u5420,#u5448,#u5427
{
	width: 228px;
	background-color: transparent;
	position: relative;
}

#u5430
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5414:hover,#u5442:hover,#u5435:hover,#u5423:hover,#u5449:hover,#u5430:hover
{
	border-color: #FFFFFF;
	background-color: #577797;
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5433-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 78px;
}

#u5433-4_clip
{
	overflow: hidden;
	width: 65px;
	height: 22px;
	vertical-align: top;
}

#u5410-4_img,#u5415-4_img,#u5445-4_img,#u5437-4_img,#u5424-4_img,#u5450-4_img,#u5433-4_img
{
	display: block;
}

#u5459
{
	width: 312px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 485px;
}

#u5462
{
	width: 312px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5462:hover
{
	background-color: #3E567D;
	width: 312px;
	min-height: 0px;
	margin: 0px;
}

#u5462:active
{
	background-color: #3E567D;
	width: 312px;
	min-height: 0px;
	margin: 0px;
}

#u5465
{
	height: 24px;
	width: 149px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 81px;
	background: url("../images/u5465.png") no-repeat 0px 0px;
}

#u5462.MuseMenuActive #u5465
{
	background: url("../images/u5465-a.png") no-repeat 0px 0px;
}

#u5466
{
	width: 239px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 809px;
}

#u5469
{
	width: 239px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5469:hover
{
	background-color: #3E567D;
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u5469:active
{
	background-color: #3E567D;
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u5471
{
	height: 24px;
	width: 76px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 81px;
	background: url("../images/u5471.png") no-repeat 0px 0px;
}

#u5469.MuseMenuActive #u5471
{
	background: url("../images/u5471-a.png") no-repeat 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u3135-4
{
	z-index: 70;
	width: 298px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 361px;
	margin-top: 8px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3135
{
	text-decoration: underline;
}

#pu3123
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 15px;
}

#u3123
{
	z-index: 27;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3123_position_content
{
	padding-top: 14px;
	padding-bottom: 31px;
}

#u3126-4
{
	z-index: 30;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3132-4
{
	z-index: 58;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3129-4
{
	z-index: 42;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 47px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3125
{
	z-index: 29;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.350000000000023px;
	position: relative;
	margin-right: -10000px;
	left: 345px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3128-4
{
	z-index: 38;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3134-4
{
	z-index: 66;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3131-6
{
	z-index: 52;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3124
{
	z-index: 28;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.350000000000023px;
	position: relative;
	margin-right: -10000px;
	left: 690px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3127-4
{
	z-index: 34;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3133-4
{
	z-index: 62;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3130-6
{
	z-index: 46;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3129-2,#u3131-2,#u3131-4,#u3130-2,#u3130-4
{
	padding-top: 15px;
}

#pu2019
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 43px;
}

#u2019
{
	z-index: 4;
	height: 718px;
	border-color: #000000;
	background-color: #8C2930;
}

#u2019-bw
{
	z-index: 4;
	height: 718px;
}

#pamphletu2020
{
	z-index: 5;
	width: 0.01px;
	height: 65px;
	padding-bottom: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 120px;
}

#u2025
{
	z-index: 6;
	width: 715px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u2027
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 105px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2029
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 210px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2026
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 315px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2030
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 420px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2031
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 525px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2032
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 630px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2028
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2027.PamphletThumbSelected,#u2029.PamphletThumbSelected,#u2026.PamphletThumbSelected,#u2030.PamphletThumbSelected,#u2031.PamphletThumbSelected,#u2032.PamphletThumbSelected,#u2028.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 85px;
	height: 65px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u2033
{
	position: absolute;
	width: 980px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 83px;
}

#u2033popup
{
	z-index: 14;
}

#u2038
{
	z-index: 15;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2040
{
	z-index: 16;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2035
{
	z-index: 17;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2034
{
	z-index: 18;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2036
{
	z-index: 19;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2037
{
	z-index: 20;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2039
{
	z-index: 21;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u5132
{
	z-index: 2;
	width: 1254px;
	background-color: transparent;
	position: fixed;
	top: 1735px;
	left: -100px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

