.version.contact /* version checker */
{
	color: #000013;
	background-color: #61D961;
}

.html
{
	background: #000000 url("../images/contact_bg.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1010px;
	min-height: 724px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#u3777
{
	z-index: 2;
	width: 200px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 192px;
	left: -304px;
}

#pu5702
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u5702
{
	z-index: 3;
	width: 1207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u5702_clip
{
	overflow: hidden;
	width: 1207px;
	height: 805px;
}

#u5702_img
{
	margin-left: 2px;
	margin-right: -2px;
}

#u4445
{
	z-index: 5;
	width: 1010px;
	height: 454px;
	position: relative;
	margin-right: -10000px;
	margin-top: 351px;
	left: 100px;
	background: transparent url("../images/pixel.png") repeat center center;
}

.hidpi #u4445
{
	background-image: url("../images/pixel_2x.png");
	background-size: 10px 10px;
}

#u5708
{
	z-index: 6;
	height: 805px;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u5708-bw
{
	z-index: 6;
	height: 805px;
}

#u4406-4
{
	z-index: 7;
	width: 670px;
	min-height: 73px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 33px;
	font-size: 22px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 266px;
}

#u4454-4
{
	z-index: 11;
	width: 670px;
	min-height: 73px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 60px;
	font-size: 40px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 271px;
}

#u1223
{
	z-index: 15;
	width: 924px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
	left: 140px;
}

#u1253
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 175px;
	left: 35px;
}

#u1250-5
{
	z-index: 100;
	width: 218px;
	min-height: 106px;
	border-style: none;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 18px;
	line-height: 24px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 63px;
}

#u1250-5:hover
{
	background-color: transparent;
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 106px;
	width: 218px;
	margin: 150px -10000px 0px 0px;
}

#u1250-5:active
{
	background-color: transparent;
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 106px;
	width: 218px;
	margin: 150px -10000px 0px 0px;
}

#u1250-2,#u1250-3
{
	font-size: 16px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: museo-slab, serif;
}

#u1224
{
	z-index: 16;
	width: 463px;
	height: 374px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 462px;
	border-width: 0px 0px 0px 1px;
}

#widgetu1225
{
	z-index: 17;
	width: 0.01px;
	height: 299px;
	position: relative;
	margin-right: -10000px;
	margin-top: 467px;
	left: 604px;
}

#widgetu1226
{
	z-index: 18;
	width: 464px;
	height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1226.fld-err-st
{
	background-color: transparent;
	width: 464px;
	height: 65px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1229-4
{
	z-index: 19;
	width: 450px;
	min-height: 29px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #46A6A3;
	line-height: 19px;
	text-transform: none;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	padding: 35px 0px 0px 14px;
	border-width: 0px 0px 1px;
}

#widgetu1241
{
	z-index: 23;
	width: 464px;
	height: 65px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 1px;
}

#widgetu1241.fld-err-st
{
	background-color: transparent;
	width: 464px;
	height: 65px;
	min-height: 0px;
	margin: 63px -10000px 0px 0px;
}

#u1242-4
{
	z-index: 24;
	width: 450px;
	min-height: 29px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #46A6A3;
	line-height: 19px;
	text-transform: none;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	padding: 35px 0px 0px 14px;
	border-width: 0px 0px 1px;
}

#widgetu1226.fld-err-st #u1229-4,#widgetu1241.fld-err-st #u1242-4
{
	padding-top: 35px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1226_input,#widgetu1226_prompt,#widgetu1241_input,#widgetu1241_prompt
{
	width: 450px;
	min-height: 29px;
	color: #46A6A3;
	letter-spacing: 1px;
	font-family: museo-slab, serif;
	font-size: 16px;
	font-weight: 100;
	padding: 35px 0px 0px 14px;
}

#widgetu1226.fld-err-st #widgetu1226_input,#widgetu1226.fld-err-st #widgetu1226_prompt,#widgetu1241.fld-err-st #widgetu1241_input,#widgetu1241.fld-err-st #widgetu1241_prompt
{
	padding-top: 35px;
	padding-bottom: 0px;
}

#u1231-4
{
	z-index: 28;
	width: 200px;
	min-height: 25px;
	border-style: none;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 175px;
}

#u1233-25
{
	z-index: 32;
	min-height: 50px;
	width: 464px;
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	background: url("../images/u1233-25.png") no-repeat 0px 0px;
}

#u1233-25:hover
{
	background: url("../images/u1233-25-r.png") no-repeat 0px 0px;
}

#u1233-25:active
{
	background: url("../images/u1233-25-m.png") no-repeat 0px 0px;
}

#widgetu1225.frm-sub-st #u1233-25
{
	background: url("../images/u1233-25-fs.png") no-repeat 0px 0px;
}

.hidpi #u1233-25
{
	background-image: url("../images/u1233-25_2x.png");
	background-size: 464px 50px;
}

.hidpi #u1233-25:hover
{
	background-image: url("../images/u1233-25-r_2x.png");
	background-size: 464px 50px;
}

.hidpi #u1233-25:active
{
	background-image: url("../images/u1233-25-m_2x.png");
	background-size: 464px 50px;
}

.hidpi #widgetu1225.frm-sub-st #u1233-25
{
	background-image: url("../images/u1233-25-fs_2x.png");
	background-size: 464px 50px;
}

#widgetu1237
{
	z-index: 69;
	width: 464px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 1px;
}

#widgetu1237.fld-err-st
{
	background-color: transparent;
	width: 464px;
	height: 121px;
	min-height: 0px;
	margin: 128px -10000px 0px 0px;
}

#u1239-4
{
	z-index: 70;
	width: 450px;
	min-height: 87px;
	border-style: none;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #46A6A3;
	line-height: 19px;
	text-transform: none;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	padding: 34px 0px 0px 14px;
}

#widgetu1225.frm-subm-err-st #u1231-4,#widgetu1225.frm-sub-st #u1231-4,#widgetu1225.frm-subm-ok-st #u1231-4,#widgetu1237.non-empty-st #u1239-4
{
	background-color: transparent;
}

#widgetu1237:hover #u1239-4
{
	background-color: transparent;
	padding-top: 34px;
	padding-bottom: 0px;
	min-height: 87px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1237.focus-st #u1239-4
{
	background-color: transparent;
	padding-top: 34px;
	padding-bottom: 0px;
	min-height: 87px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1237.fld-err-st #u1239-4
{
	background-color: transparent;
	padding-top: 34px;
	padding-bottom: 0px;
	min-height: 87px;
	width: 450px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1237:hover #u1239-4 *
{
	color: #53B4B2;
}

#widgetu1237.focus-st #u1239-4 *
{
	color: #46A6A3;
}

#widgetu1237.fld-err-st #u1239-4 *
{
	color: #46A6A3;
}

#widgetu1237_input,#widgetu1237_prompt
{
	width: 450px;
	min-height: 87px;
	color: #46A6A3;
	letter-spacing: 1px;
	font-family: museo-slab, serif;
	font-size: 16px;
	font-weight: 100;
	padding: 34px 0px 0px 14px;
}

#widgetu1237:hover #widgetu1237_input,#widgetu1237.focus-st #widgetu1237_input,#widgetu1237.fld-err-st #widgetu1237_input,#widgetu1237:hover #widgetu1237_prompt,#widgetu1237.focus-st #widgetu1237_prompt,#widgetu1237.fld-err-st #widgetu1237_prompt
{
	padding-top: 34px;
	padding-bottom: 0px;
}

#widgetu1226.non-empty-st #widgetu1226_prompt,#widgetu1241.non-empty-st #widgetu1241_prompt,#widgetu1237.non-empty-st #widgetu1237_prompt
{
	visibility: hidden;
}

#u1232-4
{
	z-index: 74;
	width: 200px;
	min-height: 25px;
	border-style: none;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 245px;
}

#u1230-4
{
	z-index: 78;
	width: 265px;
	min-height: 25px;
	border-style: none;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 180px;
}

#widgetu1225.frm-sub-st #u1232-4,#widgetu1225.frm-subm-err-st #u1232-4,#widgetu1225.frm-subm-ok-st #u1232-4,#widgetu1225.frm-sub-st #u1230-4,#widgetu1225.frm-subm-err-st #u1230-4,#widgetu1225.frm-subm-ok-st #u1230-4
{
	background-color: transparent;
}

#u1245-4
{
	z-index: 82;
	width: 449px;
	min-height: 37px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 13px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 605px;
	border-width: 0px 0px 1px;
}

#u1245-4:active
{
	border-style: none;
	background-color: transparent;
	padding-top: 13px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 449px;
	margin: 417px -10000px 1px 0px;
}

#u1245
{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 17px;
}

#u1246-3
{
	z-index: 86;
	width: 450px;
	min-height: 14px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 18px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 435px;
	left: 140px;
	border-width: 0px 0px 1px;
}

#u1246-3:active
{
	border-style: none;
	background-color: transparent;
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 450px;
	margin: 435px -10000px 1px 0px;
}

#u1247-3
{
	z-index: 89;
	width: 450px;
	min-height: 7px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 18px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 499px;
	left: 140px;
	border-width: 0px 0px 1px;
}

#u1247-3:active
{
	border-style: none;
	background-color: transparent;
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 8px;
	width: 450px;
	margin: 499px -10000px 1px 0px;
}

#u1248-4
{
	z-index: 92;
	width: 218px;
	min-height: 25px;
	border-style: none;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 18px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 410px;
	left: 207px;
}

#u1248-4:hover
{
	background-color: transparent;
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 218px;
	margin: 410px -10000px 0px 0px;
}

#u1248-4:active
{
	background-color: transparent;
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 218px;
	margin: 410px -10000px 0px 0px;
}

#u1248
{
	font-size: 14px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: museo-slab, serif;
	font-weight: 700;
	line-height: 17px;
}

#u1249-4
{
	z-index: 96;
	width: 218px;
	min-height: 25px;
	border-style: none;
	background-color: transparent;
	padding-left: 15px;
	padding-top: 18px;
	text-transform: none;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 472px;
	left: 207px;
}

#u1249-4:hover
{
	background-color: transparent;
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 218px;
	margin: 472px -10000px 0px 0px;
}

#u1249-4:active
{
	background-color: transparent;
	padding-top: 18px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 218px;
	margin: 472px -10000px 0px 0px;
}

#u1245-2,#u1248-2,#u1249-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1249
{
	font-size: 16px;
	letter-spacing: 0px;
	color: #FFFFFF;
	font-family: museo-slab, serif;
	font-weight: 700;
	line-height: 19px;
}

#u1251
{
	z-index: 105;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 172px;
}

#u1255
{
	z-index: 109;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 429px;
	left: 171px;
}

#u3766
{
	z-index: 117;
	width: 670px;
	height: 14px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 270px;
}

#u3768-4
{
	z-index: 118;
	width: 77px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 376px;
}

#u3768-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 77px;
	margin: 32px -10000px -1px 0px;
}

#u4335-4
{
	z-index: 122;
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 472px;
}

#u4335-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 83px;
	margin: 32px -10000px -1px 0px;
}

#u3770-4
{
	z-index: 126;
	width: 142px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 573px;
}

#u3770-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 142px;
	margin: 32px -10000px -1px 0px;
}

#u3767-4
{
	z-index: 130;
	width: 102px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 734px;
}

#u3767-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 102px;
	margin: 32px -10000px -1px 0px;
}

#u3783
{
	z-index: 111;
	min-height: 43px;
	padding-bottom: 12px;
}

#u3783_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
	left: -100px;
}

#u4842-5
{
	z-index: 112;
	width: 351px;
	min-height: 21px;
	padding-top: 3px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 142px;
}

#u3783-bw
{
	z-index: 111;
	min-height: 43px;
	margin-bottom: -55px;
	margin-top: 805px;
}

body
{
	position: relative;
	min-width: 1010px;
	padding-bottom: 55px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -804px;
}

