.version.girls_basketball /* version checker */
{
	color: #0000F1;
	background-color: #7D792E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -23px;
	padding-bottom: 713px;
	width: 0.01px;
}

#pu2155
{
	width: 0.01px;
	margin-left: -173px;
}

#u2155
{
	z-index: 22;
	width: 1342px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2157
{
	z-index: 24;
	width: 373px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 497px;
}

#menuu2159
{
	z-index: 26;
	width: 800px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 394px;
	left: 306px;
}

#u2216
{
	width: 244px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u2217
{
	width: 244px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u2217:hover
{
	background-color: #577797;
	width: 244px;
	min-height: 0px;
	margin: 0px;
}

#u2217:active
{
	background-color: #3E567D;
	width: 244px;
	min-height: 0px;
	margin: 0px;
}

#u2220
{
	height: 24px;
	width: 52px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 96px;
	background: url("../images/u2220.png") no-repeat 0px 0px;
}

#u2217.MuseMenuActive #u2220
{
	background: url("../images/u2220-a.png") no-repeat 0px 0px;
}

#u2160
{
	width: 258px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 260px;
}

#u2161
{
	width: 258px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u2161:hover
{
	background-color: #577797;
	width: 258px;
	min-height: 0px;
	margin: 0px;
}

#u2161:active
{
	background-color: #3E567D;
	width: 258px;
	min-height: 0px;
	margin: 0px;
}

#u2164
{
	height: 24px;
	width: 53px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 95px;
	background: url("../images/u2164.png") no-repeat 0px 0px;
}

#u2161.MuseMenuActive #u2164
{
	background: url("../images/u2164-a.png") no-repeat 0px 0px;
}

#u2163
{
	z-index: 37;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	left: 148px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u2161:hover #u2163
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2161:active #u2163
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2161.MuseMenuActive #u2163
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2165
{
	width: 261px;
	background-color: transparent;
	top: 54px;
}

#u2205
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2191
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u2191.MuseMenuActive
{
	background-color: #666666;
	width: 259px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2206-4,#u2193-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 76px;
}

#u2206-4_clip,#u2193-4_clip
{
	overflow: hidden;
	width: 103px;
	height: 22px;
	vertical-align: top;
}

#u2168
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2171-4_clip
{
	overflow: hidden;
	width: 56px;
	height: 22px;
	vertical-align: top;
}

#u2177
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2171-4,#u2178-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 99px;
}

#u2178-4_clip
{
	overflow: hidden;
	width: 57px;
	height: 22px;
	vertical-align: top;
}

#u2198
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2200-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 101px;
}

#u2200-4_clip
{
	overflow: hidden;
	width: 52px;
	height: 22px;
	vertical-align: top;
}

#u2210
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2212-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 94px;
}

#u2212-4_clip
{
	overflow: hidden;
	width: 67px;
	height: 22px;
	vertical-align: top;
}

#u2166,#u2202,#u2188,#u2167,#u2174,#u2195,#u2209,#u2181
{
	width: 261px;
	background-color: transparent;
	position: relative;
}

#u2184
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u2205:hover,#u2168:hover,#u2177:hover,#u2198:hover,#u2210:hover,#u2184:hover
{
	background-color: #AAAAAA;
	width: 259px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2187-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 95px;
}

#u2187-4_clip
{
	overflow: hidden;
	width: 65px;
	height: 22px;
	vertical-align: top;
}

#u2206-4_img,#u2193-4_img,#u2171-4_img,#u2178-4_img,#u2200-4_img,#u2212-4_img,#u2187-4_img
{
	display: block;
}

#u2223
{
	width: 266px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 530px;
}

#u2226
{
	width: 266px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u2226:hover
{
	background-color: #577797;
	width: 266px;
	min-height: 0px;
	margin: 0px;
}

#u2226:active
{
	background-color: #3E567D;
	width: 266px;
	min-height: 0px;
	margin: 0px;
}

#u2227
{
	height: 24px;
	width: 75px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 95px;
	background: url("../images/u2227.png") no-repeat 0px 0px;
}

#u2226.MuseMenuActive #u2227
{
	background: url("../images/u2227-a.png") no-repeat 0px 0px;
}

#u2230
{
	z-index: 87;
	height: 472px;
	border-color: #000000;
	background-color: #8C2930;
}

#u2230-bw
{
	z-index: 87;
	margin-top: 450px;
	height: 472px;
}

#u3149-4
{
	z-index: 131;
	width: 298px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 361px;
	margin-top: 8px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3149
{
	text-decoration: underline;
}

#pu3137
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
}

#u3137
{
	z-index: 88;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3137_position_content
{
	padding-top: 14px;
	padding-bottom: 31px;
}

#u3140-4
{
	z-index: 91;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3146-4
{
	z-index: 119;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 72px;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3143-4
{
	z-index: 103;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 47px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3139
{
	z-index: 90;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.350000000000477px;
	position: relative;
	margin-right: -10000px;
	left: 345px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3142-4
{
	z-index: 99;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3148-4
{
	z-index: 127;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 72px;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3145-6
{
	z-index: 113;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3138
{
	z-index: 89;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.350000000000477px;
	position: relative;
	margin-right: -10000px;
	left: 690px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3141-4
{
	z-index: 95;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3147-4
{
	z-index: 123;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 72px;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3144-6
{
	z-index: 107;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3143-2,#u3145-2,#u3145-4,#u3144-2,#u3144-4
{
	padding-top: 15px;
}

#pu2128
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 44px;
}

#u2128
{
	z-index: 4;
	height: 718px;
	border-color: #000000;
	background-color: #8C2930;
}

#u2128-bw
{
	z-index: 4;
	height: 718px;
}

#pamphletu2129
{
	z-index: 5;
	width: 0.01px;
	height: 65px;
	padding-bottom: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 120px;
}

#u2134
{
	z-index: 6;
	width: 715px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u2136
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 105px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2138
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 210px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2135
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 315px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2139
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 420px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2140
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 525px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2141
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 630px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2137
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2136.PamphletThumbSelected,#u2138.PamphletThumbSelected,#u2135.PamphletThumbSelected,#u2139.PamphletThumbSelected,#u2140.PamphletThumbSelected,#u2141.PamphletThumbSelected,#u2137.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 85px;
	height: 65px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u2142
{
	position: absolute;
	width: 980px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 83px;
}

#u2142popup
{
	z-index: 14;
}

#u2147
{
	z-index: 15;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2149
{
	z-index: 16;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2144
{
	z-index: 17;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2143
{
	z-index: 18;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2145
{
	z-index: 19;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2146
{
	z-index: 20;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2148
{
	z-index: 21;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u2126
{
	z-index: 2;
	width: 1559px;
	background-color: transparent;
	position: fixed;
	top: 1583px;
	left: -429px;
}

#u2126_clip
{
	overflow: hidden;
	width: 1559px;
	height: 1039px;
}

#u2126_img
{
	margin-top: 42px;
	margin-bottom: -42px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

