.version.index /* version checker */
{
	color: #0000E6;
	background-color: #B91574;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1499.6322324173698px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -23px;
	padding-bottom: 15px;
	width: 0.01px;
}

#pslideshowu986
{
	width: 0.01px;
	margin-left: -173px;
}

#slideshowu986
{
	z-index: 131;
	width: 0.01px;
	height: 427px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 73px;
}

#u1001
{
	position: absolute;
	width: 1220px;
	height: 427px;
	background-color: transparent;
}

#u1001popup
{
	z-index: 132;
}

#u1143
{
	z-index: 133;
	width: 1220px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1157
{
	z-index: 135;
	width: 1220px;
	height: 427px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1204
{
	z-index: 137;
	width: 1342px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1182
{
	z-index: 139;
	width: 373px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 497px;
}

#u1052
{
	z-index: 141;
	min-height: 512px;
	border-color: #000000;
	background-color: #8C2930;
}

#u1052_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
	padding-top: 24px;
	padding-bottom: 168px;
}

#u1053-4
{
	z-index: 205;
	width: 290px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 133px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1062
{
	z-index: 204;
	width: 290px;
	border-width: 13px;
	border-style: solid;
	border-color: #577797;
	left: 120px;
	margin-top: 5px;
	position: relative;
	background: #FFFFFF url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u1995
{
	z-index: 213;
	width: 290px;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
}

#u1052-bw
{
	z-index: 141;
	min-height: 512px;
	margin-top: 450px;
}

#menuu1245
{
	z-index: 142;
	width: 810px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 394px;
	left: 306px;
}

#u1253
{
	width: 247px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u1254
{
	width: 247px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u1254.MuseMenuActive
{
	background-color: #E3E6EB;
	border-radius: 4px 4px 0px 0px ;
	width: 247px;
	min-height: 0px;
	margin: 0px;
}

#u1255-4
{
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 96px;
}

#u1255-4_clip
{
	overflow: hidden;
	width: 56px;
	height: 24px;
	vertical-align: top;
}

#u1276
{
	width: 264px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 263px;
}

#u1277
{
	width: 264px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u1277:hover
{
	background-color: #577797;
	width: 264px;
	min-height: 0px;
	margin: 0px;
}

#u1277:active
{
	background-color: #3E567D;
	width: 264px;
	min-height: 0px;
	margin: 0px;
}

#u1279
{
	height: 24px;
	width: 59px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 95px;
	background: url("../images/u1279.png") no-repeat 0px 0px;
}

#u1277.MuseMenuActive #u1279
{
	background: url("../images/u1279-a.png") no-repeat 0px 0px;
}

#u1278
{
	z-index: 154;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	left: 154px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u1277:hover #u1278
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1277:active #u1278
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1277.MuseMenuActive #u1278
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1281
{
	width: 261px;
	background-color: transparent;
	top: 54px;
}

#u1343
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1357
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1345-4,#u1359-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 76px;
}

#u1345-4_clip,#u1359-4_clip
{
	overflow: hidden;
	width: 103px;
	height: 22px;
	vertical-align: top;
}

#u1421
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1424-4_clip
{
	overflow: hidden;
	width: 56px;
	height: 22px;
	vertical-align: top;
}

#u1492
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1424-4,#u1494-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 99px;
}

#u1494-4_clip
{
	overflow: hidden;
	width: 57px;
	height: 22px;
	vertical-align: top;
}

#u1446
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1448-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 101px;
}

#u1448-4_clip
{
	overflow: hidden;
	width: 52px;
	height: 22px;
	vertical-align: top;
}

#u1523
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1525-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 94px;
}

#u1525-4_clip
{
	overflow: hidden;
	width: 67px;
	height: 22px;
	vertical-align: top;
}

#u1282,#u1342,#u1354,#u1420,#u1489,#u1443,#u1522,#u1361
{
	width: 261px;
	background-color: transparent;
	position: relative;
}

#u1362
{
	width: 259px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u1343:hover,#u1357:hover,#u1421:hover,#u1492:hover,#u1446:hover,#u1523:hover,#u1362:hover
{
	background-color: #AAAAAA;
	width: 259px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1365-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 95px;
}

#u1365-4_clip
{
	overflow: hidden;
	width: 65px;
	height: 22px;
	vertical-align: top;
}

#u1255-4_img,#u1345-4_img,#u1359-4_img,#u1424-4_img,#u1494-4_img,#u1448-4_img,#u1525-4_img,#u1365-4_img
{
	display: block;
}

#u1543
{
	width: 267px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 539px;
}

#u1544
{
	width: 267px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u1544:hover
{
	background-color: #577797;
	width: 267px;
	min-height: 0px;
	margin: 0px;
}

#u1544:active
{
	background-color: #3E567D;
	width: 267px;
	min-height: 0px;
	margin: 0px;
}

#u1547
{
	height: 24px;
	width: 76px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 95px;
	background: url("../images/u1547.png") no-repeat 0px 0px;
}

#u1544.MuseMenuActive #u1547
{
	background: url("../images/u1547-a.png") no-repeat 0px 0px;
}

#pamphletu3349
{
	z-index: 215;
	width: 0.01px;
	height: 463px;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	left: 262px;
}

#u3354
{
	position: absolute;
	width: 630px;
	background-color: transparent;
	left: 281px;
}

#u3354popup
{
	z-index: 216;
}

#u3355
{
	z-index: 217;
	width: 630px;
	height: 463px;
	border-style: none;
	border-color: transparent;
	background-color: #577797;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3356-7
{
	z-index: 218;
	width: 589px;
	min-height: 393px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u3356-2
{
	font-size: 21px;
	line-height: 25px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 700;
}

#u3356-3
{
	font-size: 17px;
	line-height: 20px;
	color: #6B6B6B;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u3356-5
{
	font-size: 17px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3395-3
{
	z-index: 225;
	width: 15px;
	min-height: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 302px;
	left: 452px;
}

#u3365
{
	z-index: 228;
	width: 630px;
	height: 463px;
	border-style: none;
	border-color: transparent;
	background-color: #577797;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3366-14
{
	z-index: 229;
	width: 591px;
	min-height: 388px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u3366-2
{
	font-size: 21px;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
}

#u3366-6,#u3366-10
{
	font-size: 17px;
	text-align: center;
	line-height: 24px;
}

#u3366-4,#u3366-8,#u3366-12
{
	font-size: 17px;
	line-height: 24px;
}

#u3360
{
	z-index: 243;
	width: 630px;
	height: 463px;
	border-style: none;
	border-color: transparent;
	background-color: #577797;
	border-radius: 5px;
	margin-right: -10000px;
	position: relative;
}

#u3361-14
{
	z-index: 244;
	width: 592px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u3361-2,#u3361-4,#u3361-6,#u3361-8,#u3361-10
{
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
}

#u3361-11,#u3361-12
{
	line-height: 20px;
	color: #999999;
}

#u3372
{
	z-index: 258;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 343px;
	left: 10px;
}

#u3377
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 2px;
	top: -7px;
	left: -10px;
}

#u3377:hover
{
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u3378-4
{
	z-index: 260;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 32px;
	color: #8C2930;
	text-align: center;
	font-size: 23px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u3377:hover #u3378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u3377.PamphletThumbSelected #u3378-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u3377:hover #u3378-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u3373
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	top: 38px;
	left: -10px;
}

#u3373:hover
{
	border-color: #999999;
	background-color: #FFFFFF;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u3374-4
{
	z-index: 265;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 32px;
	color: #8C2930;
	text-align: center;
	font-size: 23px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u3373:hover #u3374-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u3373.PamphletThumbSelected #u3374-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u3373:hover #u3374-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u3375
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	top: 82px;
	left: -10px;
}

#u3375:hover
{
	border-color: #999999;
	background-color: #FFFFFF;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u3377.PamphletThumbSelected,#u3373.PamphletThumbSelected,#u3375.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #577797;
	border-radius: 5px;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u3376-4
{
	z-index: 270;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 32px;
	color: #8C2930;
	text-align: center;
	font-size: 23px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u3375:hover #u3376-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 5px -10000px 0px 0px;
}

#u3375:active #u3376-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 5px -10000px 0px 0px;
}

#u3375.PamphletThumbSelected #u3376-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 5px -10000px 0px 0px;
}

#u3375:hover #u3376-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	text-align: center;
}

#u3375:active #u3376-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	text-align: center;
}

#u3377.PamphletThumbSelected #u3378-4 p,#u3373.PamphletThumbSelected #u3374-4 p,#u3375.PamphletThumbSelected #u3376-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	line-height: 1.4;
	font-size: 23px;
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u1054-4
{
	z-index: 209;
	width: 298px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 361px;
	margin-top: 6px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1054
{
	text-decoration: underline;
}

#pu961
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 6px;
}

#u961
{
	z-index: 88;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(62,86,125,0.7);
}

#u961_position_content
{
	padding-top: 14px;
	padding-bottom: 31px;
}

#u964-4
{
	z-index: 91;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u970-4
{
	z-index: 119;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 72px;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u967-4
{
	z-index: 103;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 47px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u963
{
	z-index: 90;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.35000000000059px;
	position: relative;
	margin-right: -10000px;
	left: 345px;
	-pie-background: rgba(62,86,125,0.7);
}

#u966-4
{
	z-index: 99;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u972-4
{
	z-index: 127;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 72px;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u969-6
{
	z-index: 113;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u962
{
	z-index: 89;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.35000000000059px;
	position: relative;
	margin-right: -10000px;
	left: 690px;
	-pie-background: rgba(62,86,125,0.7);
}

#u965-4
{
	z-index: 95;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u971-4
{
	z-index: 123;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 72px;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u968-6
{
	z-index: 107;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u967-2,#u969-2,#u969-4,#u968-2,#u968-4
{
	padding-top: 15px;
}

#pu889
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 15px;
}

#u889
{
	z-index: 66;
	min-height: 87px;
	border-color: #000000;
	background-color: #8C2930;
	padding-bottom: 631px;
}

#u889_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u890-4
{
	z-index: 67;
	width: 980px;
	min-height: 55px;
	border-style: solid;
	border-color: #E5B5A2;
	background-color: transparent;
	line-height: 43px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 120px;
	border-width: 0px 0px 1px;
}

#u889-bw
{
	z-index: 66;
	min-height: 87px;
}

#pamphletu891
{
	z-index: 71;
	width: 0.01px;
	height: 65px;
	padding-bottom: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 120px;
}

#u906
{
	z-index: 72;
	width: 715px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u913
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 105px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u910
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 210px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u908
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 315px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u907
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 420px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u912
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 525px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u911
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 630px;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u909
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/placeholder-u913-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u913.PamphletThumbSelected,#u910.PamphletThumbSelected,#u908.PamphletThumbSelected,#u907.PamphletThumbSelected,#u912.PamphletThumbSelected,#u911.PamphletThumbSelected,#u909.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 85px;
	height: 65px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u894
{
	position: absolute;
	width: 980px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 83px;
}

#u894popup
{
	z-index: 80;
}

#u895
{
	z-index: 81;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u899
{
	z-index: 82;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u897
{
	z-index: 83;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u896
{
	z-index: 84;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u901
{
	z-index: 85;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u900
{
	z-index: 86;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u898
{
	z-index: 87;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2000
{
	z-index: 2;
	width: 1559px;
	background-color: transparent;
	position: fixed;
	top: 1583px;
	left: -429px;
}

#u2000_clip
{
	overflow: hidden;
	width: 1559px;
	height: 1039px;
}

#u2000_img
{
	margin-top: 42px;
	margin-bottom: -42px;
}

#u830-4
{
	z-index: 54;
	width: 980px;
	min-height: 73px;
	background-color: transparent;
	line-height: 72px;
	color: #FFFFFF;
	text-align: center;
	font-size: 60px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 38px;
	position: relative;
}

#u831-4
{
	z-index: 58;
	width: 980px;
	min-height: 47px;
	background-color: transparent;
	line-height: 42px;
	color: #FFFFFF;
	text-align: center;
	font-size: 35px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#widgetu809
{
	z-index: 4;
	width: 0.01px;
	height: 349px;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#widgetu817
{
	z-index: 5;
	width: 305px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u819-4
{
	z-index: 6;
	width: 293px;
	min-height: 23px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 16px;
	font-size: 16px;
	color: #8C2930;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu817.non-empty-st #u819-4
{
	background-color: #FFFFFF;
}

#widgetu817:hover #u819-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 293px;
	margin: 0px -10000px 0px 0px;
}

#widgetu817.focus-st #u819-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 293px;
	margin: 0px -10000px 0px 0px;
}

#widgetu817.non-empty-st #u819-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu817:hover #u819-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu817.focus-st #u819-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu817_input,#widgetu817_prompt
{
	width: 293px;
	min-height: 23px;
	color: #8C2930;
	font-family: abel, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu826
{
	z-index: 10;
	width: 305px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 337px;
}

#u829-4
{
	z-index: 11;
	width: 293px;
	min-height: 23px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 16px;
	color: #8C2930;
	font-size: 16px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu826.non-empty-st #u829-4
{
	background-color: #FFFFFF;
}

#widgetu826:hover #u829-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 293px;
	margin: 0px -10000px 0px 0px;
}

#widgetu826.focus-st #u829-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 293px;
	margin: 0px -10000px 0px 0px;
}

#widgetu826.non-empty-st #u829-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu826:hover #u829-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu826.focus-st #u829-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u821-4
{
	z-index: 15;
	width: 233px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #8C2930;
	font-size: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 323px;
	left: 372px;
}

#widgetu809.frm-sub-st #u821-4
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
	-pie-background: rgba(0,0,0,0.5);
}

#widgetu809.frm-sub-st #u821-4 p
{
	color: #FFFFFF;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	padding-top: 5px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u816-4
{
	z-index: 19;
	width: 233px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #8C2930;
	font-size: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 323px;
	left: 372px;
}

#widgetu809.frm-subm-err-st #u816-4
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
	-pie-background: rgba(0,0,0,0.5);
}

#widgetu809.frm-subm-err-st #u816-4 p
{
	color: #E4280D;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	padding-top: 5px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u815-4
{
	z-index: 23;
	width: 233px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #8C2930;
	font-size: 12px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 323px;
	left: 372px;
}

#widgetu809.frm-subm-ok-st #u815-4
{
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
	-pie-background: rgba(0,0,0,0.5);
}

#widgetu809.frm-subm-ok-st #u815-4 p
{
	color: #39B54A;
	font-size: 14px;
	text-align: center;
	padding-top: 5px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u810-17
{
	z-index: 27;
	min-height: 66px;
	width: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 372px;
	background: url("../images/u810-17.png") no-repeat 0px 0px;
}

#u810-17:hover
{
	background: url("../images/u810-17-r.png") no-repeat 0px 0px;
}

#u810-17:active
{
	background: url("../images/u810-17-m.png") no-repeat 0px 0px;
}

#widgetu809.frm-sub-st #u810-17
{
	background: url("../images/u810-17-fs.png") no-repeat 0px 0px;
}

#widgetu811
{
	z-index: 44;
	width: 980px;
	height: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
}

#widgetu811.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 980px;
	height: 165px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
}

#u812-4
{
	z-index: 45;
	width: 968px;
	min-height: 153px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 16px;
	color: #8C2930;
	font-size: 16px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu811.non-empty-st #u812-4
{
	background-color: #FFFFFF;
}

#widgetu811:hover #u812-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 153px;
	width: 968px;
	margin: 0px -10000px 0px 0px;
}

#widgetu811.focus-st #u812-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 153px;
	width: 968px;
	margin: 0px -10000px 0px 0px;
}

#widgetu811.fld-err-st #u812-4
{
	border-color: #D7244C;
	background-color: #FF0000;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 153px;
	width: 968px;
	margin: 0px -10000px 0px 0px;
}

#widgetu811.non-empty-st #u812-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu811:hover #u812-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu811.focus-st #u812-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu811_input,#widgetu811_prompt
{
	width: 968px;
	min-height: 153px;
	color: #8C2930;
	font-family: abel, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
}

#widgetu822
{
	z-index: 49;
	width: 305px;
	height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 675px;
}

#widgetu817.fld-err-st,#widgetu826.fld-err-st,#widgetu822.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 305px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u825-4
{
	z-index: 50;
	width: 293px;
	min-height: 23px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	padding: 6px;
	line-height: 16px;
	color: #8C2930;
	font-size: 16px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu822.non-empty-st #u825-4
{
	background-color: #FFFFFF;
}

#widgetu822:hover #u825-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 293px;
	margin: 0px -10000px 0px 0px;
}

#widgetu822.focus-st #u825-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 293px;
	margin: 0px -10000px 0px 0px;
}

#widgetu817.fld-err-st #u819-4,#widgetu826.fld-err-st #u829-4,#widgetu822.fld-err-st #u825-4
{
	border-color: #D7244C;
	background-color: #FF0000;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 23px;
	width: 293px;
	margin: 0px -10000px 0px 0px;
}

#widgetu822.non-empty-st #u825-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu822:hover #u825-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu822.focus-st #u825-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu817.fld-err-st #u819-4 *,#widgetu826.fld-err-st #u829-4 *,#widgetu811.fld-err-st #u812-4 *,#widgetu822.fld-err-st #u825-4 *
{
	color: #FFFFFF;
	font-style: normal;
}

#widgetu826_input,#widgetu826_prompt,#widgetu822_input,#widgetu822_prompt
{
	width: 293px;
	min-height: 23px;
	color: #8C2930;
	font-family: abel, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
}

#widgetu817:hover #widgetu817_input,#widgetu817.focus-st #widgetu817_input,#widgetu817.fld-err-st #widgetu817_input,#widgetu817:hover #widgetu817_prompt,#widgetu817.focus-st #widgetu817_prompt,#widgetu817.fld-err-st #widgetu817_prompt,#widgetu826:hover #widgetu826_input,#widgetu826.focus-st #widgetu826_input,#widgetu826.fld-err-st #widgetu826_input,#widgetu826:hover #widgetu826_prompt,#widgetu826.focus-st #widgetu826_prompt,#widgetu826.fld-err-st #widgetu826_prompt,#widgetu811:hover #widgetu811_input,#widgetu811.focus-st #widgetu811_input,#widgetu811.fld-err-st #widgetu811_input,#widgetu811:hover #widgetu811_prompt,#widgetu811.focus-st #widgetu811_prompt,#widgetu811.fld-err-st #widgetu811_prompt,#widgetu822:hover #widgetu822_input,#widgetu822.focus-st #widgetu822_input,#widgetu822.fld-err-st #widgetu822_input,#widgetu822:hover #widgetu822_prompt,#widgetu822.focus-st #widgetu822_prompt,#widgetu822.fld-err-st #widgetu822_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu817.non-empty-st #widgetu817_prompt,#widgetu826.non-empty-st #widgetu826_prompt,#widgetu811.non-empty-st #widgetu811_prompt,#widgetu822.non-empty-st #widgetu822_prompt
{
	visibility: hidden;
}

#u2815-4
{
	z-index: 62;
	margin-left: 30px;
	margin-top: 156px;
	position: relative;
}

#u2815-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

