.version.index /* version checker */
{
	color: #000007;
	background-color: #876AF9;
}

.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1010px;
	min-height: 2637px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -55px;
	width: 0.01px;
}

#ppu3777
{
	width: 0.01px;
	margin-left: -307px;
}

#pu3777
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 192px;
}

#u3777
{
	z-index: 2;
	width: 200px;
	min-height: 30px;
	margin-left: 3px;
}

#u1859
{
	z-index: 6;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 67px;
	position: relative;
}

#u4860
{
	z-index: 7;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u315
{
	z-index: 9;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u1638
{
	z-index: 12;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 64px;
	position: relative;
}

#u1666
{
	z-index: 14;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u807
{
	z-index: 11;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u1977
{
	z-index: 13;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u5479
{
	z-index: 101;
	width: 1210px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u1264
{
	z-index: 103;
	min-height: 605px;
	background: transparent url("../images/grid_overlay-u1264-fr.png") repeat left top;
}

.hidpi #u1264
{
	background-image: url("../images/grid_overlay-u1264-fr_2x.png");
	background-size: 2px 2px;
}

#u1264_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
	position: relative;
	left: -100px;
	padding-top: 32px;
	padding-bottom: 223px;
}

#pu3768-4
{
	width: 0.01px;
	left: 376px;
	position: relative;
}

#u3768-4
{
	z-index: 180;
	width: 77px;
	min-height: 29px;
	margin-right: -10000px;
}

#u3768-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 77px;
	margin: 0px -10000px -1px 0px;
}

#u4335-4
{
	z-index: 184;
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	left: 96px;
}

#u4335-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 83px;
	margin: 0px -10000px -1px 0px;
}

#u3770-4
{
	z-index: 188;
	width: 142px;
	min-height: 29px;
	margin-right: -10000px;
	left: 197px;
}

#u3770-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 142px;
	margin: 0px -10000px -1px 0px;
}

#u3767-4
{
	z-index: 192;
	width: 102px;
	min-height: 29px;
	margin-right: -10000px;
	left: 358px;
}

#u3767-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 102px;
	margin: 0px -10000px -1px 0px;
}

#u3766
{
	z-index: 179;
	width: 670px;
	height: 14px;
	left: 270px;
	margin-top: 4px;
}

#u5485
{
	z-index: 133;
	width: 617px;
	border-color: #000000;
	background-color: #534741;
	left: 159px;
	margin-top: 133px;
	position: relative;
}

#u5486-4
{
	z-index: 134;
	width: 476px;
	min-height: 83px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 79px;
	font-size: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 1px;
}

#u5487-4
{
	z-index: 138;
	width: 642px;
	min-height: 83px;
	background-color: transparent;
	color: #534741;
	line-height: 50px;
	font-size: 45px;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: 160px;
	margin-top: 6px;
	position: relative;
}

#u1264-bw
{
	z-index: 103;
	min-height: 605px;
}

#buttonu1840
{
	z-index: 129;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-bottom: 8px;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,16);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,16);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,16);
	position: relative;
	margin-right: -10000px;
	margin-top: 462px;
	left: 793px;
}

#buttonu1840:hover
{
	border-color: #FFFFFF;
	background-color: transparent;
	width: 29px;
	min-height: 0px;
	margin: 462px -10000px 0px 0px;
}

#buttonu1840.ButtonSelected
{
	background-color: #FFFFFF;
	width: 29px;
	min-height: 0px;
	margin: 462px -10000px 0px 0px;
}

.btn_mast
{
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u1853
{
	z-index: 131;
	height: 13px;
	width: 8px;
	vertical-align: top;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,5);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,5);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-3,5);
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
	background: url("../images/u1853.png") no-repeat 0px 0px;
}

#buttonu1840:hover #u1853
{
	background: url("../images/u1853-r.png") no-repeat 0px 0px;
}

.hidpi #u1853
{
	background-image: url("../images/u1853_2x.png");
	background-size: 7.820855614973268px 13px;
}

.hidpi #buttonu1840:hover #u1853
{
	background-image: url("../images/u1853-r_2x.png");
	background-size: 7.820855614973268px 13px;
}

#pu2770-5
{
	width: 0.01px;
	margin-left: -299px;
	margin-top: -353px;
}

#pu2770-5_position_content
{
	margin-top: -192px;
	padding-bottom: 398px;
}

#u2770-5
{
	z-index: 76;
	width: 189px;
	min-height: 24px;
	border-style: none;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding-top: 7px;
	text-align: right;
	position: fixed;
	top: 252px;
	left: -199px;
}

#u2770-5:hover
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 189px;
	margin: 0px;
}

#u2765-5
{
	z-index: 71;
	width: 189px;
	min-height: 24px;
	border-style: none;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding-top: 7px;
	text-align: right;
	position: fixed;
	top: 423px;
	left: -199px;
}

#u2770-5:active,#u2765-5:hover
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 189px;
	margin: 0px;
}

#u2765-5:active
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 189px;
	margin: 0px;
}

#u5489
{
	z-index: 196;
	height: 8px;
	background-color: #32383F;
}

#u5489-bw
{
	z-index: 196;
	margin-top: -8px;
	margin-bottom: -8px;
	height: 8px;
}

#pu5618
{
	width: 0.01px;
	margin-left: -309px;
	margin-top: -7px;
}

#u5618
{
	z-index: 3;
	width: 1406px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 13px;
}

#u236
{
	z-index: 5;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 2px;
}

#u252
{
	z-index: 8;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 2px;
}

#u2767
{
	z-index: 10;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 2px;
}

#u2643
{
	z-index: 15;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
}

#u1928-4
{
	z-index: 63;
	width: 471px;
	min-height: 175px;
	background-color: transparent;
	color: #484848;
	line-height: 21px;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	margin-top: 521px;
	left: 271px;
}

#u2770-3,#u2765-3,#u1928
{
	color: #FFFFFF;
}

#u2487-4
{
	z-index: 67;
	width: 222px;
	min-height: 14px;
	border-style: none;
	background-color: transparent;
	padding-top: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 271px;
}

#u2487-4:hover
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 455px -10000px 0px 0px;
}

#u2487-4:active
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 222px;
	margin: 455px -10000px 0px 0px;
}

#u2487
{
	font-size: 21px;
	color: #FFFFFF;
	line-height: 25px;
}

#u5624
{
	z-index: 104;
	width: 605px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 814px;
}

#u5639
{
	z-index: 106;
	width: 605px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 404px;
	left: 814px;
}

#u5630
{
	z-index: 108;
	width: 800px;
	background-color: #FFFFFF;
	padding-bottom: 122px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 13px;
}

#down
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 95px;
	left: 196px;
}

#u1912-8
{
	z-index: 119;
	width: 424px;
	min-height: 76px;
	border-style: none;
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 284px;
}

#u1912-8:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 76px;
	width: 424px;
	margin: 105px -10000px 0px 0px;
}

#u1912-8:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 76px;
	width: 424px;
	margin: 105px -10000px 0px 0px;
}

#u1912-8:hover p,#u1912-8:hover span,#u1912-8:active p,#u1912-8:active span
{
	color: #32383F;
	visibility: inherit;
}

#u1912,#u1912-3
{
	font-size: 21px;
	color: #32383F;
	font-family: museo-slab, serif;
	font-weight: 100;
	line-height: 27px;
}

#u1912-5
{
	font-size: 14px;
	color: #32383F;
	font-family: museo-slab, serif;
	font-weight: 100;
}

#pamphletu1935
{
	z-index: 109;
	width: 0.01px;
	height: 113px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 613px;
	left: 669px;
}

#u1942
{
	z-index: 110;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 97px;
}

#u1943
{
	position: absolute;
	width: 146px;
	padding-bottom: 32px;
	top: -78px;
	left: -97px;
	background: transparent url("../images/triangle-u1943-fr.png") no-repeat right bottom;
	background-size: contain;
}

#u1943.PamphletThumbSelected
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	width: 146px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/triangle-u1943-a-fr.png") no-repeat right bottom;
	background-size: contain;
}

.hexigon
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/hex-u1943-fr.png") no-repeat center top;
	background: rgba(0,0,0,0) url("../images/hex-u1943-fr.png") no-repeat center top;
	background-color: transparent;
	background-size: contain;
}

#u1959
{
	z-index: 112;
	width: 16px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 97px;
}

#u1943.PamphletThumbSelected #u1959
{
	width: 16px;
	min-height: 0px;
	margin: 77px -10000px 0px 0px;
}

#u1946
{
	position: absolute;
	width: 56px;
	left: 77px;
}

#u1946popup
{
	z-index: 114;
}

#u1947
{
	z-index: 115;
	width: 31px;
	height: 118px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	padding: 4px 12px 1px 13px;
}

#u1948
{
	z-index: 116;
	width: 29px;
	height: 29px;
	background-repeat: no-repeat;
	background-position: center top;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	background-size: cover;
}

.nosvg #u1948
{
	background-image: url('../images/social_fb_sprite_poster_u379.png');
}

#u1948:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	border-color: #FFFFFF;
	width: 29px;
	height: 29px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

.social
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/social_fb_sprite.svg") no-repeat center top;
	background-size: cover;
}

#u1949
{
	z-index: 117;
	width: 29px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: 13px;
	position: relative;
	background: transparent url("../images/social_twitter_sprite.svg") no-repeat center top;
	background-size: cover;
}

.nosvg #u1949
{
	background-image: url('../images/social_twitter_sprite_poster_u387.png');
}

#u1949:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	border-color: #FFFFFF;
	width: 29px;
	height: 29px;
	min-height: 0px;
	margin: 13px 0px 0px;
	background-size: cover;
}

#u1950
{
	z-index: 118;
	width: 29px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	margin-top: 12px;
	position: relative;
	background: transparent url("../images/social_insta_sprite.svg") no-repeat center top;
	background-size: cover;
}

.nosvg #u1950
{
	background-image: url('../images/social_insta_sprite_poster_u394.png');
}

#u1950:hover
{
	background-repeat: no-repeat;
	background-position: center bottom;
	border-color: #FFFFFF;
	width: 29px;
	height: 29px;
	min-height: 0px;
	margin: 12px 0px 0px;
	background-size: cover;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1922
{
	z-index: 127;
	width: 155px;
	height: 155px;
	border-width: 5px;
	border-style: solid;
	border-color: #FBFBFB;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 332px;
	left: 615px;
	background: #000000 url("../images/wall.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u1922
{
	background-image: url("../images/wall_2x.jpg");
}

#u5645
{
	z-index: 142;
	width: 605px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 814px;
	-pie-background: rgba(255,255,255,0.4);
}

#buttonu1684
{
	z-index: 158;
	width: 207px;
	position: relative;
	padding: 47px 38px 38px 16px;
	background: transparent url("../images/tab_blue.svg") no-repeat right top;
	background-size: 821px 400px;
}

#buttonu1684:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

.nosvg #buttonu1684
{
	background-image: url('../images/tab_blue_poster_u1761.png');
}

#u1688-4
{
	z-index: 163;
	width: 185px;
	min-height: 24px;
	line-height: 17px;
	margin-left: 1px;
	position: relative;
}

#buttonu1684:hover #u1688-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 185px;
	margin: 0px 0px 0px 1px;
}

#buttonu1684.ButtonSelected #u1688-4
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 185px;
	margin: 0px 0px 0px 1px;
}

.tab_headline
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#buttonu1684:hover #u1688-4 p,#buttonu1684:hover #u1688-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 20px;
}

#buttonu1684.ButtonSelected #u1688-4 p,#buttonu1684.ButtonSelected #u1688-4 span
{
	color: #000000;
	visibility: inherit;
}

#u1688
{
	font-size: 20px;
	letter-spacing: 0px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	line-height: 24px;
}

#u1690-4
{
	z-index: 159;
	width: 207px;
	min-height: 114px;
	color: #FFFFFF;
	line-height: 21px;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: museo-slab, serif;
	font-weight: 100;
	margin-top: 11px;
	position: relative;
}

#buttonu1684:hover #u1690-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 114px;
	width: 207px;
	margin: 11px 0px 0px;
}

#buttonu1684.ButtonSelected #u1690-4
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 114px;
	width: 207px;
	margin: 11px 0px 0px;
}

#buttonu1684:hover #u1690-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1689
{
	z-index: 167;
	width: 44px;
	padding-bottom: 22px;
	margin-top: 108px;
	position: relative;
	background: transparent url("../images/hex_dark-u1689-fr.png") no-repeat left top;
	background-size: contain;
}

#buttonu1684:hover #u1689
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 44px;
	min-height: 0px;
	margin: 108px 0px 0px;
	background-size: contain;
}

.hidpi #u1689
{
	background-image: url("../images/hex_dark-u1689-fr_2x.png");
}

#u1992
{
	z-index: 172;
	width: 35px;
	height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
	background: transparent url("../images/arrow2_sprite_light-u1992-fr.png") no-repeat right top;
	background-size: cover;
}

#buttonu1684:hover #u1992
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 35px;
	height: 16px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
	background-size: cover;
}

.hexigon_arrow
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/arrow2_sprite-ieu1992-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/arrow2_sprite.png") no-repeat left top;
	background-color: transparent;
	background-size: cover;
}

.hidpi .hexigon_arrow
{
	background-image: url("../images/arrow2_sprite_2x.png");
}

.hidpi #u1992
{
	background-image: url("../images/arrow2_sprite_light-u1992-fr_2x.png");
}

#u1687-4
{
	z-index: 168;
	width: 126px;
	min-height: 14px;
	border-style: none;
	background-color: transparent;
	padding-top: 7px;
	margin-left: 63px;
	top: -41px;
	margin-bottom: -21px;
	position: relative;
}

#buttonu1684:hover #u1687-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 126px;
	margin: 0px 0px -21px 63px;
}

#buttonu1684:active #u1687-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 126px;
	margin: 0px 0px -21px 63px;
}

#buttonu1684:hover #u1687-4 p,#buttonu1684:hover #u1687-4 span,#buttonu1684:active #u1687-4 p,#buttonu1684:active #u1687-4 span
{
	color: #53B4B2;
	visibility: inherit;
}

#u1687
{
	font-size: 11px;
	color: #FFFFFF;
	line-height: 13px;
}

#buttonu1635
{
	z-index: 143;
	width: 207px;
	position: relative;
	padding: 60px 37px 10.50318627450929px 18px;
	background: transparent url("../images/tab.svg") no-repeat right top;
	background-size: 821px 400px;
}

.nosvg #buttonu1635
{
	background-image: url('../images/tab_poster_u2471.png');
}

#buttonu1635:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

#buttonu1684.ButtonSelected,#buttonu1635.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: right top;
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

#u1663-4
{
	z-index: 148;
	width: 185px;
	min-height: 52px;
	line-height: 17px;
	position: relative;
}

#buttonu1635:hover #u1663-4
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 185px;
	margin: 0px;
}

#buttonu1635:active #u1663-4
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 185px;
	margin: 0px;
}

#buttonu1635.ButtonSelected #u1663-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 185px;
	margin: 0px;
}

#buttonu1635:hover #u1663-4 p,#buttonu1635:hover #u1663-4 span,#buttonu1635:active #u1663-4 p,#buttonu1635:active #u1663-4 span
{
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.18;
}

#u1663
{
	font-size: 20px;
	letter-spacing: 1px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	line-height: 24px;
}

#u1662-4
{
	z-index: 144;
	width: 207px;
	min-height: 136px;
	color: #484848;
	line-height: 21px;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: museo-slab, serif;
	font-weight: 100;
	margin-top: 15px;
	position: relative;
}

#buttonu1635:hover #u1662-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 136px;
	width: 207px;
	margin: 15px 0px 0px;
}

#buttonu1635.ButtonSelected #u1662-4
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 136px;
	width: 207px;
	margin: 15px 0px 0px;
}

#u1659
{
	z-index: 152;
	width: 44px;
	padding-bottom: 21px;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
	background: transparent url("../images/hex_dark-u1659-fr.png") no-repeat left top;
	background-size: contain;
}

#buttonu1635:hover #u1659
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 44px;
	min-height: 0px;
	margin: 18px 0px 0px 1px;
	background-size: contain;
}

.hidpi #u1659
{
	background-image: url("../images/hex_dark-u1659-fr_2x.png");
}

#u1985
{
	z-index: 157;
	width: 35px;
	height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 4px;
	background: transparent url("../images/arrow2_sprite_drk.png") no-repeat right top;
	background-size: cover;
}

#buttonu1635:hover #u1985
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 35px;
	height: 16px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
	background-size: cover;
}

#u1943.PamphletThumbSelected::before,#u1943.PamphletThumbSelected #u1959::before,#u1948::before,#u1948:hover::before,#u1949::before,#u1949:hover::before,#u1950::before,#u1950:hover::before,#buttonu1684:hover #u1689::before,#u1992::before,#buttonu1684:hover #u1992::before,.hexigon_arrow::before,#u1985::before,#buttonu1635:hover #u1985::before
{
	box-shadow: none;
}

.hidpi #u1985
{
	background-image: url("../images/arrow2_sprite_drk_2x.png");
}

#u1682-4
{
	z-index: 153;
	width: 134px;
	min-height: 14px;
	border-style: none;
	background-color: transparent;
	padding-top: 7px;
	margin-left: 56px;
	top: -41px;
	margin-bottom: -21px;
	position: relative;
}

#buttonu1635:hover #u1682-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 134px;
	margin: 0px 0px -21px 56px;
}

#buttonu1635:active #u1682-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 134px;
	margin: 0px 0px -21px 56px;
}

#buttonu1635:hover #u1682-4 p,#buttonu1635:hover #u1682-4 span,#buttonu1635:active #u1682-4 p,#buttonu1635:active #u1682-4 span
{
	color: #53B4B2;
	visibility: inherit;
}

#u1682
{
	font-size: 11px;
	line-height: 13px;
}

#pu2766-4
{
	width: 0.01px;
	margin-left: -299px;
	margin-top: -725px;
}

#pu2766-4_position_content
{
	margin-top: -570px;
	padding-bottom: 755px;
}

#u2766-4
{
	z-index: 81;
	width: 189px;
	min-height: 27px;
	border-style: none;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding-top: 7px;
	text-align: right;
	position: fixed;
	top: 630px;
	left: -199px;
}

#u2766-4:hover
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 189px;
	margin: 0px;
}

#u2769-4
{
	z-index: 85;
	width: 189px;
	min-height: 27px;
	border-style: none;
	background-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding-top: 7px;
	text-align: right;
	position: fixed;
	top: 781px;
	left: -198px;
}

#u2766-4:active,#u2769-4:hover
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 189px;
	margin: 0px;
}

#u2769-4:active
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 189px;
	margin: 0px;
}

#u2770,#u2765,#u2766,#u2769
{
	color: #FFFFFF;
	line-height: 14px;
}

#pu599-4
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 47px;
}

#u599-4
{
	z-index: 32;
	width: 185px;
	min-height: 24px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u599-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 185px;
	margin: 1px -10000px 0px 0px;
}

#u599-4:hover p,#u599-4:hover span,#u599-4:active p,#u599-4:active span
{
	color: #45A6A3;
	visibility: inherit;
}

#u600-4
{
	z-index: 36;
	width: 185px;
	min-height: 24px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 320px;
}

#u599-4:active,#u600-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 185px;
	margin: 1px -10000px 0px 0px;
}

#u600-4:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 185px;
	margin: 1px -10000px 0px 0px;
}

#u600-4:hover p,#u600-4:hover span,#u600-4:active p,#u600-4:active span
{
	color: #45A6A3;
	visibility: inherit;
}

#u601-4
{
	z-index: 40;
	width: 185px;
	min-height: 24px;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	left: 637px;
}

#u601-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u601-4:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 185px;
	margin: 0px -10000px 0px 0px;
}

#u601-4:hover p,#u601-4:hover span,#u601-4:active p,#u601-4:active span
{
	color: #45A6A3;
	visibility: inherit;
}

#u599,#u600,#u601
{
	font-size: 22px;
	letter-spacing: 0px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	line-height: 26px;
}

#pu539-5
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 4px;
}

#u539-5
{
	z-index: 16;
	width: 265px;
	min-height: 132px;
	background-color: transparent;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
}

#u539-2
{
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0px;
	color: #484848;
}

#u539-3
{
	font-size: 30px;
	line-height: 35px;
	color: #53B4B2;
}

#u565-5
{
	z-index: 21;
	width: 270px;
	min-height: 224px;
	background-color: transparent;
	color: #484848;
	letter-spacing: 0px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u567-6
{
	z-index: 26;
	width: 267px;
	min-height: 221px;
	background-color: transparent;
	color: #484848;
	letter-spacing: 0px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	left: 637px;
}

#u565-2,#u567-2,#u567-3
{
	font-size: 14px;
	line-height: 21px;
}

#u565-3,#u567-4
{
	font-size: 30px;
	line-height: 35px;
}

#pu191
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: 33px;
}

#u191
{
	z-index: 44;
	width: 924px;
	border-width: 3px;
	border-style: solid;
	border-color: #32383F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#buttonu205
{
	z-index: 45;
	width: 310px;
	background-repeat: no-repeat;
	background-position: right top;
	border-style: solid;
	border-color: #32383F;
	background-color: transparent;
	padding-bottom: 30px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	left: -3px;
	border-width: 0px 1px 0px 0px;
	background-size: 801px 100px;
}

#buttonu205:hover
{
	background-repeat: no-repeat;
	background-position: left center;
	border-color: #000000;
	width: 310px;
	min-height: 0px;
	margin: 0px -10000px -3px 0px;
	background-size: 801px 100px;
}

.nosvg #buttonu205
{
	background-image: url('../images/block_sprite_poster_u1676.png');
}

.btn
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/block_sprite.svg") no-repeat right top;
	background-size: 801px 100px;
}

#u308
{
	z-index: 50;
	width: 183px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: left center;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 81px;
	background-size: 336px 30.333px;
}

.nosvg #u308
{
	background-image: url('../images/arrow_sprite_poster_u318.png');
}

.ghost_arrow
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/arrow_sprite.svg") no-repeat right top;
	background-size: 336px 30.333px;
}

#u204-4
{
	z-index: 46;
	width: 108px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 7px;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 22px;
}

#buttonu205:hover #u204-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 108px;
	margin: 16px -10000px 0px 0px;
}

#buttonu205:active #u204-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 108px;
	margin: 16px -10000px 0px 0px;
}

#buttonu205:hover #u204-4 p,#buttonu205:hover #u204-4 span,#buttonu205:active #u204-4 p,#buttonu205:active #u204-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu259
{
	z-index: 51;
	width: 310px;
	background-repeat: no-repeat;
	background-position: right top;
	border-style: solid;
	border-color: #32383F;
	background-color: transparent;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 310px;
	border-width: 0px 1px 0px 0px;
	background-size: 801px 100px;
}

#u330
{
	z-index: 56;
	width: 183px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: left center;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 118px;
	background-size: 336px 30.333px;
}

#buttonu259:hover #u330
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 183px;
	height: 28px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#u260-4
{
	z-index: 52;
	width: 154px;
	min-height: 21px;
	border-style: none;
	background-color: transparent;
	padding-top: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 32px;
}

#buttonu259:hover #u260-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 154px;
	margin: 16px -10000px 0px 0px;
}

#buttonu259:active #u260-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 154px;
	margin: 16px -10000px 0px 0px;
}

#buttonu259:hover #u260-4 p,#buttonu259:hover #u260-4 span,#buttonu259:active #u260-4 p,#buttonu259:active #u260-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu261
{
	z-index: 57;
	width: 310px;
	background-repeat: no-repeat;
	background-position: right top;
	border-style: solid;
	border-color: #32383F;
	background-color: transparent;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 620px;
	border-width: 0px 1px 0px 0px;
	background-size: 801px 100px;
}

#buttonu259:hover,#buttonu261:hover
{
	background-repeat: no-repeat;
	background-position: left center;
	border-color: #000000;
	width: 310px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
	background-size: 801px 100px;
}

#u331
{
	z-index: 62;
	width: 183px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: left center;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 117px;
	background-size: 336px 30.333px;
}

#buttonu205:hover #u308,#buttonu261:hover #u331
{
	background-repeat: no-repeat;
	background-position: right center;
	width: 183px;
	height: 28px;
	min-height: 0px;
	margin: 16px -10000px 0px 0px;
}

#u262-4
{
	z-index: 58;
	width: 126px;
	min-height: 14px;
	border-style: none;
	background-color: transparent;
	padding-top: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 42px;
}

#buttonu261:hover #u262-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 126px;
	margin: 16px -10000px 0px 0px;
}

#buttonu261:active #u262-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 126px;
	margin: 16px -10000px 0px 0px;
}

#buttonu261:hover #u262-4 p,#buttonu261:hover #u262-4 span,#buttonu261:active #u262-4 p,#buttonu261:active #u262-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2770-2,#u2765-2,#u2487-2,#u1912-2,#u1912-4,#u1688-2,#u1687-2,#u1663-2,#u1682-2,#u2766-2,#u2769-2,#u599-2,#u600-2,#u601-2,#u260-2,#u262-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u260,#u262
{
	line-height: 14px;
}

#buttonu2625
{
	z-index: 89;
	width: 350px;
	padding-bottom: 33px;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,175,-72);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,175,-72);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,175,-72);
	margin-left: 329px;
	margin-top: 158px;
	margin-bottom: 72px;
	position: relative;
}

#buttonu2625:hover
{
	width: 350px;
	min-height: 0px;
	margin: 158px 0px 72px 329px;
}

.tab,.half
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u2642
{
	z-index: 90;
	width: 142px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 36px;
	background: transparent url("../images/half_l.svg") no-repeat left top;
	background-size: 139px 273px;
}

.nosvg #u2642
{
	background-image: url('../images/half_l_poster_u2676.png');
}

#buttonu2625:hover #u2642
{
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 142px;
	min-height: 0px;
	margin: 36px -10000px 0px 0px;
}

#buttonu2625.ButtonSelected #u2642
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 142px;
	min-height: 0px;
	margin: 36px -10000px 0px 0px;
}

#u2682
{
	z-index: 91;
	width: 142px;
	height: 281px;
	position: relative;
	margin-right: -10000px;
	margin-top: -8px;
	left: 137px;
	background: transparent url("../images/half_r.svg") no-repeat left bottom;
	background-size: 139px 273px;
}

.nosvg #u2682
{
	background-image: url('../images/half_r_poster_u2683.png');
}

#buttonu2625:hover #u2682
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 142px;
	height: 281px;
	min-height: 0px;
	margin: -8px -10000px 0px 0px;
}

#buttonu2625.ButtonSelected #u2682
{
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 142px;
	height: 281px;
	min-height: 0px;
	margin: -8px -10000px 0px 0px;
}

#u2689-9
{
	z-index: 92;
	width: 282px;
	min-height: 56px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
	line-height: 36px;
	font-size: 30px;
	font-family: lust-script, sans-serif;
	font-weight: 400;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,21,108);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,21,108);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,21,108);
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 40px;
}

#buttonu2625:hover #u2689-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 282px;
	margin: 153px -10000px 0px 0px;
}

#buttonu2625.ButtonSelected #u2689-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 282px;
	margin: 153px -10000px 0px 0px;
}

#u2689-2,#u2689-4
{
	letter-spacing: -1px;
}

#u2689-5
{
	letter-spacing: 1px;
}

#u3783
{
	z-index: 173;
	min-height: 43px;
	padding-bottom: 12px;
}

#u3783_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
	left: -100px;
}

#u4842-5
{
	z-index: 174;
	width: 351px;
	min-height: 21px;
	padding-top: 3px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 142px;
}

#u3783-bw
{
	z-index: 173;
	min-height: 43px;
	margin-top: 267px;
}

body
{
	position: relative;
	min-width: 1010px;
	padding-bottom: 55px;
}

#page .verticalspacer
{
	clear: both;
}

