#u3777
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3768-4
{
	border-style: none;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u4335-4
{
	border-style: none;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u3770-4
{
	border-style: none;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u3767-4
{
	border-style: none;
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u3768-4:hover,#u4335-4:hover,#u3770-4:hover,#u3767-4:hover
{
	border-style: solid;
	border-color: #45A6A3;
	border-width: 0px 0px 1px;
}

#u3768-4:hover p,#u3768-4:hover span,#u4335-4:hover p,#u4335-4:hover span,#u3770-4:hover p,#u3770-4:hover span,#u3767-4:hover p,#u3767-4:hover span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3768-2,#u4335-2,#u3770-2,#u3767-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3768,#u4335,#u3770,#u3767
{
	line-height: 12px;
}

#u3766
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3783
{
	background-color: #32383F;
}

#u3783_align_to_page
{
	position: relative;
}

#u4842-5
{
	background-color: transparent;
	color: #7F7F7F;
	line-height: 13px;
	font-size: 11px;
	letter-spacing: 2px;
	font-family: nimbus-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u4842
{
	color: #E5E5E5;
}

#u4842-2
{
	color: #45A6A3;
}

