.version.portfolio /* version checker */
{
	color: #000008;
	background-color: #F33FBC;
}

.html
{
	background-color: #32383F;
}

#page
{
	z-index: 1;
	width: 1010px;
	min-height: 723.9242034313761px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -55px;
	width: 0.01px;
}

#ppu3777
{
	width: 0.01px;
	margin-left: -308px;
}

#pu3777
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 192px;
}

#u3777
{
	z-index: 2;
	width: 200px;
	min-height: 30px;
	margin-left: 4px;
}

#u3413
{
	z-index: 5;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 110px;
	position: relative;
}

#u3936
{
	z-index: 6;
	width: 200px;
	min-height: 30px;
	margin-left: 1px;
	margin-top: 4px;
	position: relative;
}

#u3939
{
	z-index: 7;
	width: 200px;
	min-height: 30px;
	margin-top: 7px;
	position: relative;
}

.article_block,.article_block_content
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u3469
{
	z-index: 145;
	min-height: 453.6125000000007px;
	background-color: #1E2125;
	padding-bottom: 0px;
}

#u3469_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
	position: relative;
	left: -100px;
	padding-top: 32px;
	padding-bottom: 198px;
}

#pu3768-4
{
	width: 0.01px;
	left: 376px;
	position: relative;
}

#u3768-4
{
	z-index: 164;
	width: 77px;
	min-height: 29px;
	margin-right: -10000px;
}

#u3768-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 77px;
	margin: 0px -10000px -1px 0px;
}

#u4335-4
{
	z-index: 168;
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	left: 96px;
}

#u4335-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 83px;
	margin: 0px -10000px -1px 0px;
}

#u3770-4
{
	z-index: 172;
	width: 142px;
	min-height: 29px;
	margin-right: -10000px;
	left: 197px;
}

#u3770-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 142px;
	margin: 0px -10000px -1px 0px;
}

#u3767-4
{
	z-index: 176;
	width: 102px;
	min-height: 29px;
	margin-right: -10000px;
	left: 358px;
}

#u3767-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 102px;
	margin: 0px -10000px -1px 0px;
}

#u3766
{
	z-index: 163;
	width: 670px;
	height: 14px;
	left: 270px;
	margin-top: 4px;
}

#u3452-4
{
	z-index: 146;
	width: 670px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 45px;
	font-size: 30px;
	font-family: museo-slab, serif;
	font-weight: 100;
	left: 270px;
	margin-top: 131px;
	position: relative;
}

#u3469-bw
{
	z-index: 145;
	min-height: 453.6125000000007px;
}

#u3436-5
{
	z-index: 9;
	width: 189px;
	min-height: 24px;
	border-style: none;
	background-color: transparent;
	padding-top: 7px;
	text-align: right;
	position: fixed;
	top: 297px;
	left: -199px;
}

#u3436-5:hover
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 189px;
	margin: 0px;
}

#pu6504
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -4px;
}

#u6504
{
	z-index: 3;
	min-height: 388px;
	background-color: #46A6A3;
}

#u6504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
	position: relative;
	left: -100px;
}

#buttonu4018
{
	z-index: 18;
	width: 308px;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	left: 143px;
	background: #45A6A3 url("../images/tab_article_side.svg") no-repeat right top;
	background-size: cover;
}

.nosvg #buttonu4018
{
	background-image: url('../images/tab_article_side_poster_u4092.png');
}

#buttonu4018:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 308px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu4018.ButtonSelected
{
	background-repeat: no-repeat;
	background-position: right top;
	width: 308px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u4022-9
{
	z-index: 23;
	width: 240px;
	min-height: 291px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 33px;
}

#buttonu4018:hover #u4022-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 291px;
	width: 240px;
	margin: 84px -10000px 0px 0px;
}

#buttonu4018.ButtonSelected #u4022-9
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 291px;
	width: 240px;
	margin: 84px -10000px 0px 0px;
}

#buttonu4018:hover #u4022-9 p,#buttonu4018:hover #u4022-9 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u4022-3
{
	text-align: center;
}

#u4022-2,#u4022-5
{
	text-align: center;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4022,#u4022-4
{
	font-size: 18px;
	color: #484848;
	font-family: museo-slab, serif;
	font-weight: 300;
	line-height: 23px;
}

#u4021-4
{
	z-index: 19;
	width: 240px;
	min-height: 44px;
	padding-top: 7px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 33px;
}

#buttonu4018:hover #u4021-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 240px;
	margin: 20px -10000px 0px 0px;
}

#buttonu4018.ButtonSelected #u4021-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 240px;
	margin: 20px -10000px 0px 0px;
}

#buttonu4018:hover #u4021-4 p,#buttonu4018:hover #u4021-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 11px;
}

#buttonu4018.ButtonSelected #u4021-4 p,#buttonu4018.ButtonSelected #u4021-4 span
{
	color: #000000;
	visibility: inherit;
	font-size: 16px;
}

#u4021
{
	font-size: 16px;
	line-height: 19px;
}

#u6504-bw
{
	z-index: 3;
	min-height: 388px;
}

#u6506
{
	z-index: 143;
	width: 759px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 451px;
}

#u3412-4
{
	z-index: 14;
	width: 189px;
	min-height: 24px;
	border-style: none;
	background-color: transparent;
	padding-top: 7px;
	text-align: right;
	position: fixed;
	top: 455px;
	left: -199px;
}

#u3436-5:active,#u3412-4:hover
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 189px;
	margin: 0px;
}

#u3412-4:active
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 189px;
	margin: 0px;
}

#u3436,#u3412
{
	color: #7F7F7F;
	line-height: 14px;
}

#pu6509
{
	width: 0.01px;
	margin-left: -99px;
}

#u6509
{
	z-index: 155;
	width: 450px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#buttonu4110
{
	z-index: 32;
	width: 240px;
	position: relative;
	margin-right: -10000px;
	left: 450px;
	padding: 132px 34px 126.125px;
	background: #32383F url("../images/tab_news2.svg") no-repeat right top;
	background-size: cover;
}

#buttonu4110:hover
{
	width: 240px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #97B2B8 url("../images/tab_news2.svg") no-repeat right bottom;
	background-size: cover;
}

#buttonu4110.ButtonSelected
{
	width: 240px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #32383F url("../images/tab_news2.svg") no-repeat right top;
	background-size: cover;
}

.nosvg #buttonu4110,.nosvg #buttonu4110:hover,.nosvg #buttonu4110.ButtonSelected
{
	background-image: url('../images/tab_news2_poster_u4129.png');
}

#u4889-4
{
	z-index: 37;
	width: 240px;
	min-height: 76px;
	line-height: 18px;
	margin-top: 27px;
	position: relative;
}

#buttonu4110:hover #u4889-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 76px;
	width: 240px;
	margin: 27px 0px 0px;
}

#buttonu4110.ButtonSelected #u4889-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 76px;
	width: 240px;
	margin: 27px 0px 0px;
}

#buttonu4110:hover #u4889-4 p,#buttonu4110:hover #u4889-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu4018.ButtonSelected #u4022-9 p,#buttonu4018.ButtonSelected #u4022-9 span,#buttonu4110.ButtonSelected #u4889-4 p,#buttonu4110.ButtonSelected #u4889-4 span
{
	color: #484848;
	visibility: inherit;
}

#u4889
{
	font-size: 18px;
	letter-spacing: 1px;
	color: #484848;
	font-family: museo-slab, serif;
	font-weight: 300;
	line-height: 23px;
}

#u4888-4
{
	z-index: 33;
	width: 232px;
	min-height: 14px;
	padding-top: 7px;
	top: -103px;
	margin-bottom: -21px;
	position: relative;
}

#buttonu4110:hover #u4888-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 232px;
	margin: 0px 0px -21px;
}

#buttonu4110.ButtonSelected #u4888-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 232px;
	margin: 0px 0px -21px;
}

#buttonu4110:hover #u4888-4 p,#buttonu4110:hover #u4888-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 11px;
}

#buttonu4110.ButtonSelected #u4888-4 p,#buttonu4110.ButtonSelected #u4888-4 span
{
	color: #000000;
	visibility: inherit;
}

#u4888
{
	font-size: 11px;
	line-height: 13px;
}

#u4887-4
{
	z-index: 41;
	width: 174px;
	min-height: 21px;
	background-image: none;
	background-color: #32383F;
	border-radius: 3px;
	padding-top: 5px;
	color: #45A6A3;
	text-align: center;
	letter-spacing: 1px;
	line-height: 14px;
	font-size: 12px;
	font-family: nimbus-sans, sans-serif;
	font-weight: 300;
	margin-top: 21px;
	position: relative;
}

#u4887-4::before
{
	box-shadow: none;
}

.nosvg #u4887-4
{
	background-image: url('../images/social_fb_sprite_poster_u379.png');
}

#buttonu4110:hover #u4887-4
{
	padding-top: 5px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 174px;
	margin: 21px 0px 0px;
}

.social
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/social_fb_sprite.svg") no-repeat center top;
	background-size: cover;
}

#pu4116-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 835px;
}

#u4116-4
{
	z-index: 59;
	width: 330px;
	min-height: 24px;
	border-style: none;
	background-color: transparent;
	line-height: 17px;
	text-align: center;
	position: relative;
}

#u4116-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 330px;
	margin: 0px;
}

#u4116-4:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 330px;
	margin: 0px;
}

#u3436-2,#u4021-2,#u3412-2,#u4889-2,#u4888-2,#u4116-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4116
{
	font-size: 30px;
	color: #FFFFFF;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	line-height: 36px;
}

#u4115-14
{
	z-index: 45;
	width: 330px;
	min-height: 148px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: museo-slab, serif;
	font-weight: 100;
	margin-top: 15px;
	position: relative;
}

#u4115-3,#u4115-4,#u4115-7,#u4115-8,#u4115-11
{
	font-size: 20px;
	text-align: center;
	line-height: 24px;
}

#u4115-12
{
	font-size: 30px;
	line-height: 35px;
}

#pu3411
{
	width: 0.01px;
	margin-left: -300px;
}

#u3411
{
	z-index: 4;
	min-height: 1220px;
	border-style: none;
	border-color: transparent;
	background-color: #FBFBFB;
}

#u3411_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
	position: relative;
	left: -100px;
	padding-top: 102px;
	padding-bottom: 511px;
}

#u5713
{
	z-index: 150;
	width: 908px;
	height: 4px;
	background-color: #32383F;
	left: 153px;
	position: relative;
}

#u6338
{
	z-index: 138;
	width: 908px;
	height: 4px;
	background-color: #32383F;
	left: 171px;
	margin-top: 600px;
	position: relative;
}

#u3411-bw
{
	z-index: 4;
	min-height: 1220px;
}

#u3422
{
	z-index: 8;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 649px;
}

#slideshowu6150
{
	z-index: 63;
	width: 0.01px;
	height: 421px;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 361px;
}

#u6156popup
{
	z-index: 64;
}

#u6157
{
	z-index: 65;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6157_img
{
	padding: 21px 44px 20px 45px;
}

#u6176
{
	z-index: 67;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6176_img
{
	padding: 20px 53px 20px 52px;
}

#u6190
{
	z-index: 69;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6190_img
{
	padding: 28px 67px 29px 72px;
}

#u6204
{
	z-index: 71;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6204_img
{
	padding: 33px 118px 34px 101px;
}

#u6218
{
	z-index: 73;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6218_img
{
	padding: 32px 78px 33px 79px;
}

#u6232
{
	z-index: 75;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6232_img
{
	padding: 40px 60px 41px 61px;
}

#u6151
{
	position: absolute;
	width: 715px;
	background-color: transparent;
	top: 380px;
	left: 87px;
}

#u6151popup
{
	z-index: 77;
}

#u6152-4
{
	z-index: 78;
	width: 695px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #32383F;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u6182-4
{
	z-index: 82;
	width: 695px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #32383F;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u6196-4
{
	z-index: 86;
	width: 695px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #32383F;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u6210-4
{
	z-index: 90;
	width: 695px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #32383F;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u6224-4
{
	z-index: 94;
	width: 695px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #32383F;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u6238-4
{
	z-index: 98;
	width: 695px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #32383F;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u6163-4popup
{
	z-index: 102;
}

#u6155-4popup
{
	z-index: 106;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#slideshowu6297
{
	z-index: 110;
	width: 0.01px;
	height: 381px;
	position: relative;
	margin-right: -10000px;
	margin-top: 730px;
	left: 387px;
}

#u6156,#u6298
{
	position: absolute;
	width: 715px;
	height: 381px;
	background-color: transparent;
	left: 86px;
}

#u6298popup
{
	z-index: 111;
}

#u6406
{
	z-index: 112;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6406_img
{
	padding: 29px 166px 43px 147px;
}

#u6415
{
	z-index: 114;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6415_img
{
	padding: 21px 231px 33px 234px;
}

#u6424
{
	z-index: 116;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6424_img
{
	padding: 15px 228px 26px 234px;
}

#u6433
{
	z-index: 118;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6433_img
{
	padding: 16px 233px 29px 237px;
}

#u6442
{
	z-index: 120;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6442_img
{
	padding: 20px 240px 45px 251px;
}

#u6492
{
	z-index: 122;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6492_img
{
	padding: 35px 185px 43px 174px;
}

#u6451
{
	z-index: 124;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6451_img
{
	padding: 29px 159px 30px 124px;
}

#u6460
{
	z-index: 126;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6460_img
{
	padding: 15px 222px;
}

#u6469
{
	z-index: 128;
	width: 715px;
	height: 381px;
	border-style: none;
	border-color: transparent;
	background-color: #32383F;
	margin-right: -10000px;
	position: relative;
}

#u6469_img
{
	padding: 38px 159px 37px 160px;
}

#u6163-4,#u6332-4
{
	position: absolute;
	width: 47px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 52px;
	text-align: center;
	font-size: 37px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 152px;
}

#u6332-4popup
{
	z-index: 130;
}

#u6155-4,#u6336-4
{
	position: absolute;
	width: 42px;
	min-height: 72px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 52px;
	text-align: center;
	font-size: 37px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 150px;
	left: 820px;
}

#u6336-4popup
{
	z-index: 134;
}

#u6339-4
{
	z-index: 139;
	width: 260px;
	min-height: 70px;
	background-color: transparent;
	line-height: 54px;
	font-size: 45px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 649px;
	left: 699px;
}

#u5717-4
{
	z-index: 151;
	width: 211px;
	min-height: 70px;
	background-color: transparent;
	line-height: 54px;
	font-size: 45px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 724px;
}

#u3783
{
	z-index: 157;
	min-height: 43px;
	padding-bottom: 12px;
}

#u3783_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
	left: -100px;
}

#u4842-5
{
	z-index: 158;
	width: 351px;
	min-height: 21px;
	padding-top: 3px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 142px;
}

#u3783-bw
{
	z-index: 157;
	min-height: 43px;
}

body
{
	position: relative;
	min-width: 1010px;
	padding-bottom: 55px;
}

#page .verticalspacer
{
	clear: both;
}

