.version.thanks /* version checker */
{
	color: #000008;
	background-color: #3B5421;
}

.html
{
	background: #000000 url("../images/contact_bg.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1010px;
	min-height: 724px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#pu3777
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 192px;
	margin-left: -306px;
}

#u3777
{
	z-index: 2;
	width: 200px;
	min-height: 30px;
	margin-left: 2px;
}

#u5113
{
	z-index: 3;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
}

#u5115
{
	z-index: 4;
	width: 200px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 3px;
	position: relative;
}

#pu5709
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -2px;
	margin-left: -100px;
}

#u5709
{
	z-index: 5;
	width: 1210px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#buttonu5117
{
	z-index: 7;
	width: 1216px;
	border-style: none;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu5712
{
	z-index: 8;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u5712
{
	z-index: 0;
	width: 1210px;
	background-color: #000000;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#buttonu5117.ButtonSelected #u5712
{
	width: 1210px;
	min-height: 0px;
	margin: 0px;
}

#pu5120
{
	width: 0.01px;
	position: relative;
	left: 576px;
	padding-top: 362px;
	z-index: 2;
	padding-bottom: 292px;
}

#u5120
{
	z-index: 9;
	width: 62px;
	padding-bottom: 31px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/hex_dark-u5120-fr.png") no-repeat left top;
	background-size: contain;
}

#buttonu5117.ButtonSelected #u5120
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 62px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: contain;
}

#u5122
{
	z-index: 14;
	width: 44px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 9px;
	background: transparent url("../images/arrow2_sprite_light.png") no-repeat right top;
	background-size: cover;
}

#buttonu5117:hover #u5122
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 44px;
	height: 20px;
	min-height: 0px;
	margin: 27px -10000px 0px 0px;
	background-size: cover;
}

#buttonu5117.ButtonSelected #u5122
{
	background-repeat: no-repeat;
	background-position: right top;
	width: 44px;
	height: 20px;
	min-height: 0px;
	margin: 27px -10000px 0px 0px;
	background-size: cover;
}

.hexigon_arrow
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/arrow2_sprite-ieu5122-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/arrow2_sprite.png") no-repeat left top;
	background-color: transparent;
	background-size: cover;
}

#buttonu5117.ButtonSelected #u5120::before,#u5122::before,#buttonu5117:hover #u5122::before,.hexigon_arrow::before
{
	box-shadow: none;
}

.hidpi .hexigon_arrow
{
	background-image: url("../images/arrow2_sprite_2x.png");
}

.hidpi #u5122
{
	background-image: url("../images/arrow2_sprite_light_2x.png");
}

#u5121-4
{
	z-index: 10;
	width: 179px;
	min-height: 14px;
	border-style: none;
	background-color: transparent;
	padding-top: 7px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 444px;
	left: 517px;
}

#buttonu5117:hover #u5121-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 179px;
	margin: 444px -10000px 0px 0px;
}

#buttonu5117:active #u5121-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 179px;
	margin: 444px -10000px 0px 0px;
}

#buttonu5117.ButtonSelected #u5121-4
{
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 179px;
	margin: 444px -10000px 0px 0px;
}

#buttonu5117:hover #u5121-4 p,#buttonu5117:hover #u5121-4 span,#buttonu5117:active #u5121-4 p,#buttonu5117:active #u5121-4 span
{
	color: #53B4B2;
	visibility: inherit;
}

#buttonu5117.ButtonSelected #u5121-4 p,#buttonu5117.ButtonSelected #u5121-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5121-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5121
{
	font-size: 11px;
	color: #FFFFFF;
	line-height: 13px;
}

#u5093-4
{
	z-index: 15;
	width: 670px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 33px;
	font-size: 22px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 272px;
}

#u5092-4
{
	z-index: 19;
	width: 670px;
	min-height: 73px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 60px;
	font-size: 40px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 272px;
}

#u3766
{
	z-index: 29;
	width: 670px;
	height: 14px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 270px;
}

#u3768-4
{
	z-index: 30;
	width: 77px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 376px;
}

#u3768-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 77px;
	margin: 34px -10000px -1px 0px;
}

#u4335-4
{
	z-index: 34;
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 472px;
}

#u4335-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 83px;
	margin: 34px -10000px -1px 0px;
}

#u3770-4
{
	z-index: 38;
	width: 142px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 573px;
}

#u3770-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 142px;
	margin: 34px -10000px -1px 0px;
}

#u3767-4
{
	z-index: 42;
	width: 102px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 734px;
}

#u3767-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 102px;
	margin: 34px -10000px -1px 0px;
}

#u3783
{
	z-index: 23;
	min-height: 43px;
	padding-bottom: 12px;
}

#u3783_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1010px;
	left: -100px;
}

#u4842-5
{
	z-index: 24;
	width: 351px;
	min-height: 21px;
	padding-top: 3px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 142px;
}

#u3783-bw
{
	z-index: 23;
	min-height: 43px;
	margin-bottom: -55px;
	margin-top: 730px;
}

body
{
	position: relative;
	min-width: 1010px;
	padding-bottom: 55px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -730px;
}

