.version.volleyball /* version checker */
{
	color: #00000E;
	background-color: #FCAB27;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -23px;
	padding-bottom: 629px;
	width: 0.01px;
}

#pu2590
{
	width: 0.01px;
	margin-left: -173px;
}

#u2590
{
	z-index: 22;
	width: 1342px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2592
{
	z-index: 24;
	width: 373px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 497px;
}

#u2665
{
	z-index: 26;
	min-height: 68px;
	border-color: #000000;
	background-color: #8C2930;
	padding-bottom: 404px;
}

#u2665_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u3424-4
{
	z-index: 74;
	width: 373px;
	min-height: 48px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 33px;
	line-height: 40px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 423px;
}

#u2665-bw
{
	z-index: 26;
	min-height: 68px;
	margin-top: 450px;
}

#pamphletu5070
{
	z-index: 78;
	width: 0.01px;
	height: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 576px;
	left: 322px;
}

#u5091
{
	z-index: 79;
	width: 724px;
	position: relative;
	margin-right: -10000px;
}

#u5092
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u5094
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	left: 252px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u5093
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	left: 504px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u5092.PamphletThumbSelected,#u5094.PamphletThumbSelected,#u5093.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 220px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u5071
{
	position: absolute;
	width: 190px;
	top: 12px;
	left: 17px;
}

#u5071popup
{
	z-index: 83;
}

#u5082
{
	z-index: 84;
	width: 168px;
	height: 106px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	padding: 60px 11px 31px;
}

#u5085-4
{
	z-index: 85;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	position: relative;
}

#u5086-4
{
	z-index: 89;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	position: relative;
}

#u5083
{
	z-index: 93;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 23px;
	position: relative;
}

#u5077
{
	z-index: 95;
	width: 168px;
	height: 97px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 251px;
	padding: 60px 11px 33px;
}

#u5079-4
{
	z-index: 96;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5078-4
{
	z-index: 100;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	margin-top: 2px;
	position: relative;
}

#u5080
{
	z-index: 104;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 12px;
	position: relative;
}

#u5072
{
	z-index: 106;
	width: 168px;
	height: 97px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 504px;
	padding: 60px 11px 33px;
}

#u5076-4
{
	z-index: 107;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	position: relative;
}

#u5076
{
	font-size: 22px;
}

#u5075-4
{
	z-index: 111;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	margin-top: 2px;
	position: relative;
}

#u5073
{
	z-index: 115;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 12px;
	position: relative;
}

#menuu5886
{
	z-index: 117;
	width: 1051px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
	left: 173px;
}

#u5943
{
	width: 220px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u5944
{
	width: 220px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5944:hover
{
	background-color: #3E567D;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u5944:active
{
	background-color: #3E567D;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u5945
{
	height: 24px;
	width: 56px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 82px;
	background: url("../images/u5945.png") no-repeat 0px 0px;
}

#u5944.MuseMenuActive #u5945
{
	background: url("../images/u5945-a.png") no-repeat 0px 0px;
}

#u5887
{
	width: 236px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 236px;
}

#u5888
{
	width: 236px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5888:hover
{
	background-color: #3E567D;
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u5888:active
{
	background-color: #3E567D;
	width: 236px;
	min-height: 0px;
	margin: 0px;
}

#u5890
{
	height: 24px;
	width: 59px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 81px;
	background: url("../images/u5890.png") no-repeat 0px 0px;
}

#u5888.MuseMenuActive #u5890
{
	background: url("../images/u5890-a.png") no-repeat 0px 0px;
}

#u5889
{
	z-index: 128;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	left: 140px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u5888:hover #u5889
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5888:active #u5889
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5888.MuseMenuActive #u5889
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5892
{
	width: 228px;
	background-color: transparent;
	top: 54px;
}

#u5893
{
	width: 228px;
	background-color: transparent;
	position: relative;
}

#u5893:hover
{
	background-color: #577797;
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u5895
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5937
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5897-4,#u5940-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 59px;
}

#u5897-4_clip,#u5940-4_clip
{
	overflow: hidden;
	width: 103px;
	height: 22px;
	vertical-align: top;
}

#u5925
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5928-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 83px;
}

#u5928-4_clip
{
	overflow: hidden;
	width: 56px;
	height: 22px;
	vertical-align: top;
}

#u5911
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5912-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 82px;
}

#u5912-4_clip
{
	overflow: hidden;
	width: 57px;
	height: 22px;
	vertical-align: top;
}

#u5904
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5905-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 85px;
}

#u5905-4_clip
{
	overflow: hidden;
	width: 52px;
	height: 22px;
	vertical-align: top;
}

#u5930
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u5930.MuseMenuActive
{
	background-color: #577797;
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5932-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 77px;
}

#u5932-4_clip
{
	overflow: hidden;
	width: 67px;
	height: 22px;
	vertical-align: top;
}

#u5894,#u5936,#u5922,#u5908,#u5901,#u5929,#u5915
{
	width: 228px;
	background-color: transparent;
	position: relative;
}

#u5916
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5895:hover,#u5937:hover,#u5925:hover,#u5911:hover,#u5904:hover,#u5916:hover
{
	border-color: #FFFFFF;
	background-color: #577797;
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5918-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 78px;
}

#u5918-4_clip
{
	overflow: hidden;
	width: 65px;
	height: 22px;
	vertical-align: top;
}

#u5897-4_img,#u5940-4_img,#u5928-4_img,#u5912-4_img,#u5905-4_img,#u5932-4_img,#u5918-4_img
{
	display: block;
}

#u5957
{
	width: 312px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 484px;
}

#u5960
{
	width: 312px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5960:hover
{
	background-color: #3E567D;
	width: 312px;
	min-height: 0px;
	margin: 0px;
}

#u5960:active
{
	background-color: #3E567D;
	width: 312px;
	min-height: 0px;
	margin: 0px;
}

#u5961
{
	height: 24px;
	width: 149px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 81px;
	background: url("../images/u5961.png") no-repeat 0px 0px;
}

#u5960.MuseMenuActive #u5961
{
	background: url("../images/u5961-a.png") no-repeat 0px 0px;
}

#u5950
{
	width: 239px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 808px;
}

#u5953
{
	width: 239px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5953:hover
{
	background-color: #3E567D;
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u5953:active
{
	background-color: #3E567D;
	width: 239px;
	min-height: 0px;
	margin: 0px;
}

#u5954
{
	height: 24px;
	width: 76px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 81px;
	background: url("../images/u5954.png") no-repeat 0px 0px;
}

#u5953.MuseMenuActive #u5954
{
	background: url("../images/u5954-a.png") no-repeat 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u3205-4
{
	z-index: 70;
	width: 298px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 361px;
	margin-top: 8px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3205
{
	text-decoration: underline;
}

#pu3193
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
}

#u3193
{
	z-index: 27;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3193_position_content
{
	padding-top: 14px;
	padding-bottom: 31px;
}

#u3196-4
{
	z-index: 30;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3202-4
{
	z-index: 58;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3199-4
{
	z-index: 42;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 47px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3195
{
	z-index: 29;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.350000000000477px;
	position: relative;
	margin-right: -10000px;
	left: 345px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3198-4
{
	z-index: 38;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3204-4
{
	z-index: 66;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3201-6
{
	z-index: 52;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3194
{
	z-index: 28;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.350000000000477px;
	position: relative;
	margin-right: -10000px;
	left: 690px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3197-4
{
	z-index: 34;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3203-4
{
	z-index: 62;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3200-6
{
	z-index: 46;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3199-2,#u3201-2,#u3201-4,#u3200-2,#u3200-4
{
	padding-top: 15px;
}

#pu2563
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 44px;
}

#u2563
{
	z-index: 4;
	height: 718px;
	border-color: #000000;
	background-color: #8C2930;
}

#u2563-bw
{
	z-index: 4;
	height: 718px;
}

#pamphletu2564
{
	z-index: 5;
	width: 0.01px;
	height: 65px;
	padding-bottom: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 120px;
}

#u2569
{
	z-index: 6;
	width: 715px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u2571
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 105px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2573
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 210px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2570
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 315px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2574
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 420px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2575
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 525px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2576
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 630px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2572
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2571.PamphletThumbSelected,#u2573.PamphletThumbSelected,#u2570.PamphletThumbSelected,#u2574.PamphletThumbSelected,#u2575.PamphletThumbSelected,#u2576.PamphletThumbSelected,#u2572.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 85px;
	height: 65px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u2577
{
	position: absolute;
	width: 980px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 83px;
}

#u2577popup
{
	z-index: 14;
}

#u2582
{
	z-index: 15;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2584
{
	z-index: 16;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2579
{
	z-index: 17;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2578
{
	z-index: 18;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2580
{
	z-index: 19;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2581
{
	z-index: 20;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u2583
{
	z-index: 21;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u5191
{
	z-index: 2;
	width: 1228px;
	background-color: transparent;
	position: fixed;
	top: 1825px;
	left: -100px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

