.version.wrestling /* version checker */
{
	color: #000014;
	background-color: #4C2DCE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -23px;
	padding-bottom: 1016px;
	width: 0.01px;
}

#pu3233
{
	width: 0.01px;
	margin-left: -173px;
}

#u3233
{
	z-index: 22;
	width: 1342px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3235
{
	z-index: 24;
	width: 373px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 497px;
}

#u3308
{
	z-index: 26;
	min-height: 74px;
	border-color: #000000;
	background-color: #8C2930;
	padding-bottom: 398px;
}

#u3308_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	position: relative;
	left: -100px;
}

#u3426-4
{
	z-index: 70;
	width: 373px;
	min-height: 47px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 33px;
	line-height: 40px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 423px;
}

#u3308-bw
{
	z-index: 26;
	min-height: 74px;
	margin-top: 450px;
}

#pamphletu5101
{
	z-index: 74;
	width: 0.01px;
	height: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 597px;
	left: 309px;
}

#u5122
{
	z-index: 75;
	width: 724px;
	position: relative;
	margin-right: -10000px;
}

#u5123
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u5125
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	left: 252px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u5124
{
	position: absolute;
	width: 220px;
	height: 220px;
	border-style: none;
	border-color: transparent;
	border-radius: 200px;
	left: 504px;
	background: transparent url("../images/headshot2-u4704-fr.png") no-repeat center center;
	background-size: cover;
}

#u5123.PamphletThumbSelected,#u5125.PamphletThumbSelected,#u5124.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 220px;
	height: 220px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u5102
{
	position: absolute;
	width: 190px;
	top: 12px;
	left: 17px;
}

#u5102popup
{
	z-index: 79;
}

#u5113
{
	z-index: 80;
	width: 168px;
	height: 106px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	padding: 60px 11px 31px;
}

#u5116-4
{
	z-index: 81;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	position: relative;
}

#u5117-4
{
	z-index: 85;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	position: relative;
}

#u5114
{
	z-index: 89;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 23px;
	position: relative;
}

#u5108
{
	z-index: 91;
	width: 168px;
	height: 97px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 251px;
	padding: 60px 11px 33px;
}

#u5110-4
{
	z-index: 92;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u5109-4
{
	z-index: 96;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	margin-top: 2px;
	position: relative;
}

#u5111
{
	z-index: 100;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 12px;
	position: relative;
}

#u5103
{
	z-index: 102;
	width: 168px;
	height: 97px;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 504px;
	padding: 60px 11px 33px;
}

#u5107-4
{
	z-index: 103;
	width: 168px;
	min-height: 33px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	position: relative;
}

#u5107
{
	font-size: 19px;
}

#u5106-4
{
	z-index: 107;
	width: 168px;
	min-height: 18px;
	background-color: transparent;
	line-height: 13px;
	margin-top: 2px;
	position: relative;
}

#u5104
{
	z-index: 111;
	width: 32px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 12px;
	position: relative;
}

#menuu5965
{
	z-index: 113;
	width: 1053px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
	left: 173px;
}

#u6022
{
	width: 220px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u6023
{
	width: 220px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u6023:hover
{
	background-color: #3E567D;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u6023:active
{
	background-color: #3E567D;
	width: 220px;
	min-height: 0px;
	margin: 0px;
}

#u6024
{
	height: 24px;
	width: 58px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 82px;
	background: url("../images/u6024.png") no-repeat 0px 0px;
}

#u6023.MuseMenuActive #u6024
{
	background: url("../images/u6024-a.png") no-repeat 0px 0px;
}

#u5966
{
	width: 230px;
	min-height: 54px;
	background-color: transparent;
	padding-right: 7px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 236px;
}

#u5967
{
	width: 230px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u5967:hover
{
	background-color: #3E567D;
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#u5967:active
{
	background-color: #3E567D;
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#u5969
{
	height: 24px;
	width: 66px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 82px;
	background: url("../images/u5969.png") no-repeat 0px 0px;
}

#u5967.MuseMenuActive #u5969
{
	background: url("../images/u5969-a.png") no-repeat 0px 0px;
}

#u5968
{
	z-index: 124;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 20px;
	left: 141px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u5967:hover #u5968
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5967:active #u5968
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5967.MuseMenuActive #u5968
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5971
{
	width: 228px;
	background-color: transparent;
	top: 54px;
}

#u5972
{
	width: 228px;
	background-color: transparent;
	position: relative;
}

#u5972:hover
{
	background-color: #577797;
	width: 228px;
	min-height: 0px;
	margin: 0px;
}

#u5974
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u6016
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5976-4,#u6019-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 59px;
}

#u5976-4_clip,#u6019-4_clip
{
	overflow: hidden;
	width: 103px;
	height: 22px;
	vertical-align: top;
}

#u6004
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u6007-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 83px;
}

#u6007-4_clip
{
	overflow: hidden;
	width: 56px;
	height: 22px;
	vertical-align: top;
}

#u5990
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5991-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 82px;
}

#u5991-4_clip
{
	overflow: hidden;
	width: 57px;
	height: 22px;
	vertical-align: top;
}

#u5983
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5984-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 85px;
}

#u5984-4_clip
{
	overflow: hidden;
	width: 52px;
	height: 22px;
	vertical-align: top;
}

#u6009
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u5974:hover,#u6016:hover,#u6004:hover,#u5990:hover,#u5983:hover,#u6009:hover
{
	border-color: #FFFFFF;
	background-color: #577797;
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6011-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 77px;
}

#u6011-4_clip
{
	overflow: hidden;
	width: 67px;
	height: 22px;
	vertical-align: top;
}

#u5973,#u6015,#u6001,#u5987,#u5980,#u6008,#u5994
{
	width: 228px;
	background-color: transparent;
	position: relative;
}

#u5995
{
	width: 226px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #3E567D;
	border-radius: 7px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u5995.MuseMenuActive
{
	background-color: #577797;
	width: 226px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5997-4
{
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 78px;
}

#u5997-4_clip
{
	overflow: hidden;
	width: 65px;
	height: 22px;
	vertical-align: top;
}

#u5976-4_img,#u6019-4_img,#u6007-4_img,#u5991-4_img,#u5984-4_img,#u6011-4_img,#u5997-4_img
{
	display: block;
}

#u6036
{
	width: 300px;
	min-height: 54px;
	background-color: transparent;
	padding-right: 13px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 485px;
}

#u6039
{
	width: 300px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u6039:hover
{
	background-color: #3E567D;
	width: 300px;
	min-height: 0px;
	margin: 0px;
}

#u6039:active
{
	background-color: #3E567D;
	width: 300px;
	min-height: 0px;
	margin: 0px;
}

#u6040
{
	height: 24px;
	width: 162px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 82px;
	background: url("../images/u6040.png") no-repeat 0px 0px;
}

#u6039.MuseMenuActive #u6040
{
	background: url("../images/u6040-a.png") no-repeat 0px 0px;
}

#u6029
{
	width: 229px;
	min-height: 54px;
	background-color: transparent;
	padding-right: 10px;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 810px;
}

#u6032
{
	width: 229px;
	border-color: #000000;
	background-color: #8C2930;
	border-radius: 4px;
	padding-bottom: 30px;
	position: relative;
}

#u6032:hover
{
	background-color: #3E567D;
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u6032:active
{
	background-color: #3E567D;
	width: 229px;
	min-height: 0px;
	margin: 0px;
}

#u6033
{
	height: 24px;
	width: 86px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 81px;
	background: url("../images/u6033.png") no-repeat 0px 0px;
}

#u6032.MuseMenuActive #u6033
{
	background: url("../images/u6033-a.png") no-repeat 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.MenuItem /* pamphlet2 */
{
	cursor: pointer;
}

#u3320-4
{
	z-index: 66;
	width: 298px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	font-family: abel, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 361px;
	margin-top: 8px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3320
{
	text-decoration: underline;
}

#pu3309
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
}

#u3309
{
	z-index: 27;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3309_position_content
{
	padding-top: 14px;
	padding-bottom: 31px;
}

#u3312-4
{
	z-index: 30;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3317-4
{
	z-index: 54;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3314-4
{
	z-index: 38;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 47px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3311
{
	z-index: 29;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 13px;
	padding-bottom: 31.45000000000107px;
	position: relative;
	margin-right: -10000px;
	left: 345px;
	-pie-background: rgba(62,86,125,0.7);
}

#u6492-4
{
	z-index: 179;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3319-4
{
	z-index: 62;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u3316-6
{
	z-index: 48;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3310
{
	z-index: 28;
	width: 290px;
	border-style: none;
	border-color: transparent;
	background-color: #7788A4;
	background-color: rgba(62,86,125,0.7);
	padding-top: 14px;
	padding-bottom: 31.350000000000477px;
	position: relative;
	margin-right: -10000px;
	left: 690px;
	-pie-background: rgba(62,86,125,0.7);
}

#u3313-4
{
	z-index: 34;
	width: 197px;
	min-height: 55px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	line-height: 43px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u3318-4
{
	z-index: 58;
	width: 290px;
	min-height: 73px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #8C2930;
	text-align: center;
	font-size: 60px;
	line-height: 72px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#u3315-6
{
	z-index: 42;
	width: 197px;
	min-height: 79px;
	border-style: solid;
	border-color: #4C676B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 14px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u3314-2,#u3316-2,#u3316-4,#u3315-2,#u3315-4
{
	padding-top: 15px;
}

#pu3209
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 44px;
}

#u3209
{
	z-index: 4;
	height: 718px;
	border-color: #000000;
	background-color: #8C2930;
}

#u3209-bw
{
	z-index: 4;
	height: 718px;
}

#pamphletu3210
{
	z-index: 5;
	width: 0.01px;
	height: 65px;
	padding-bottom: 485px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 120px;
}

#u3215
{
	z-index: 6;
	width: 715px;
	position: relative;
	margin-right: -10000px;
	left: 132px;
}

#u3217
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 105px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3219
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 210px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3218
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 315px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3222
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 420px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3216
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 525px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3221
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	left: 630px;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3220
{
	position: absolute;
	width: 85px;
	height: 65px;
	border-color: #DEDEDE;
	background: #DEDEDE url("../images/placeholder-u2027-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3217.PamphletThumbSelected,#u3219.PamphletThumbSelected,#u3218.PamphletThumbSelected,#u3222.PamphletThumbSelected,#u3216.PamphletThumbSelected,#u3221.PamphletThumbSelected,#u3220.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 85px;
	height: 65px;
	min-height: 0px;
	margin: 0px;
	background-size: cover;
}

#u3223
{
	position: absolute;
	width: 980px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 83px;
}

#u3223popup
{
	z-index: 14;
}

#u3227
{
	z-index: 15;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u3225
{
	z-index: 16;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u3228
{
	z-index: 17;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u3224
{
	z-index: 18;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u3229
{
	z-index: 19;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u3226
{
	z-index: 20;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u3230
{
	z-index: 21;
	width: 980px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: #DEDEDE url("../images/placeholder.jpg") no-repeat center center;
	background-size: cover;
}

#u5157
{
	z-index: 2;
	width: 1256px;
	background-color: transparent;
	position: fixed;
	top: 1861px;
	left: -136px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

