.version.about /* version checker */
{
	color: #0000F7;
	background-color: #903BD9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 681px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -4px;
	width: 0.01px;
}

#pu4777
{
	width: 0.01px;
}

#u4777
{
	z-index: 33;
	width: 68px;
	padding-bottom: 23px;
	margin-right: -10000px;
	left: 312px;
}

#u4815
{
	z-index: 77;
	width: 29px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 19px;
}

#u4812
{
	z-index: 78;
	width: 29px;
	height: 4px;
}

#u4813
{
	z-index: 79;
	width: 29px;
	height: 4px;
	margin-top: 4px;
}

#u4814
{
	z-index: 80;
	width: 29px;
	height: 4px;
	margin-top: 4px;
}

#accordionu4816
{
	z-index: 81;
}

#u4817
{
	z-index: 82;
}

#u4818-3
{
	z-index: 83;
	min-height: 61px;
}

#u4818-3.AccordionPanelTabOpen
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 61px;
	margin: 0px;
}

#u4819
{
	z-index: 86;
	padding-top: 39px;
	padding-bottom: 1px;
}

#u4831-4
{
	z-index: 87;
	width: 350px;
	min-height: 29px;
	padding-left: 30px;
	padding-top: 17px;
	margin-left: 1px;
}

#u4831-4:hover
{
	padding-top: 17px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 350px;
	margin: 0px 0px 0px 1px;
}

#u4834-4
{
	z-index: 91;
	width: 350px;
	min-height: 29px;
	padding-left: 30px;
	padding-top: 17px;
	margin-left: 1px;
}

#u4831-4.MuseLinkActive,#u4834-4:hover
{
	padding-top: 17px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 350px;
	margin: 0px 0px 0px 1px;
}

#u4835-4
{
	z-index: 95;
	width: 350px;
	min-height: 29px;
	padding-left: 30px;
	padding-top: 17px;
	margin-left: 1px;
	margin-top: 1px;
}

#u4835-4:hover
{
	padding-top: 17px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 350px;
	margin: 1px 0px 0px 1px;
}

#u4835-4.MuseLinkActive
{
	padding-top: 17px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 350px;
	margin: 1px 0px 0px 1px;
}

#u4836-4
{
	z-index: 99;
	width: 350px;
	min-height: 29px;
	padding-left: 30px;
	padding-top: 17px;
	margin-left: 1px;
}

#u4834-4.MuseLinkActive,#u4836-4:hover
{
	padding-top: 17px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 350px;
	margin: 0px 0px 0px 1px;
}

#u4837-4
{
	z-index: 103;
	width: 350px;
	min-height: 29px;
	padding-left: 30px;
	padding-top: 17px;
	margin-left: 1px;
}

#u4836-4.MuseLinkActive,#u4837-4:hover
{
	padding-top: 17px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 350px;
	margin: 0px 0px 0px 1px;
}

#u4837-4.MuseLinkActive
{
	padding-top: 17px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 350px;
	margin: 0px 0px 0px 1px;
}

#u4838-4
{
	z-index: 107;
	width: 350px;
	min-height: 29px;
	padding-left: 30px;
	padding-top: 17px;
}

#u4838-4:hover
{
	padding-top: 17px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 350px;
	margin: 0px;
}

#u4838-4.MuseLinkActive
{
	padding-top: 17px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 350px;
	margin: 0px;
}

#accordionu4816-bw
{
	z-index: 81;
	margin-top: 6px;
}

#u4518-4
{
	z-index: 111;
	width: 126px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 30px;
}

#pu4664
{
	width: 0.01px;
	margin-left: -1px;
}

#u4664
{
	z-index: 34;
	height: 79px;
	background-color: #D8D8D8;
}

#u4664-bw
{
	z-index: 34;
	height: 79px;
}

#u4614
{
	z-index: 35;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 1px;
}

#pamphletu4618
{
	z-index: 37;
	width: 0.01px;
	height: 40px;
	padding-bottom: 541px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
}

#u4625
{
	z-index: 38;
	width: 229px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 80px;
}

#pu4626
{
	position: absolute;
	width: 0.01px;
	top: -7px;
	left: -15px;
}

#u4626
{
	position: absolute;
	width: 123px;
	height: 29px;
	background-repeat: no-repeat;
	background-position: right top;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	background-size: 801px 100px;
}

#pu4626.PamphletThumbSelected #u4626
{
	width: 122px;
	height: 29px;
	background-repeat: no-repeat;
	background-position: left top;
	border-style: solid;
	border-color: #000000;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
	border-width: 1px 2px 1px 1px;
	background-size: 801px 100px;
}

.nosvg #u4626
{
	background-image: url('../../images/block_sprite_poster_u1676.png');
}

#pu4626:hover #u4626
{
	width: 123px;
	height: 29px;
	background-repeat: no-repeat;
	background-position: left top;
	border-width: 1px;
	border-style: solid;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

.btn
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/block_sprite.svg") no-repeat right top;
	background-size: 801px 100px;
}

#u4627-4
{
	z-index: 41;
	width: 99px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
}

#pu4626:hover #u4627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
	min-height: 18px;
}

#pu4626.PamphletThumbSelected #u4627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
	min-height: 18px;
}

#pu4626:hover #u4627-4 p,#pu4626:hover #u4627-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu4626 #u4627-4
{
	position: relative;
	width: 99px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
}

#u4628
{
	position: absolute;
	width: 128px;
	background-repeat: no-repeat;
	background-position: right top;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	background-color: transparent;
	padding-bottom: 4px;
	top: -7px;
	left: 110px;
	background-size: 801px 100px;
}

#u4628.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u4629-4
{
	z-index: 48;
	width: 114px;
	min-height: 18px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#u4628.PamphletThumbSelected #u4629-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 114px;
	margin: 7px -10000px 0px 0px;
}

#pu4626.PamphletThumbSelected #u4627-4 p,#pu4626.PamphletThumbSelected #u4627-4 span,#u4628.PamphletThumbSelected #u4629-4 p,#u4628.PamphletThumbSelected #u4629-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 11px;
	text-align: center;
}

#u4627,#u4629
{
	line-height: 14px;
}

#u4634
{
	position: absolute;
	width: 380px;
	border-style: none;
	background-color: transparent;
	top: 317px;
}

#u4634popup
{
	z-index: 52;
}

#u4635
{
	z-index: 53;
	width: 380px;
	height: 201px;
	border-style: none;
	background-color: transparent;
	padding-top: 38px;
	padding-bottom: 25px;
	margin-right: -10000px;
	position: relative;
}

#u4668-4
{
	z-index: 59;
	width: 160px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	margin-left: 44px;
	position: relative;
}

#u4668-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 160px;
	margin: 0px 0px 0px 44px;
}

#u4666-4
{
	z-index: 54;
	width: 320px;
	min-height: 142px;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding-left: 30px;
	padding-top: 18px;
	padding-right: 30px;
	color: #FFFFFF;
	line-height: 21px;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.5);
}

#u4667
{
	z-index: 58;
	width: 380px;
	height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	background: transparent url("../../images/nodes_thin.svg") repeat-x left bottom;
	background-size: 136.037px 100px;
}

#u4643
{
	z-index: 63;
	width: 380px;
	height: 221px;
	border-style: none;
	background-color: transparent;
	padding-top: 38px;
	padding-bottom: 5px;
	margin-right: -10000px;
	position: relative;
}

#u4645-4
{
	z-index: 69;
	width: 160px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
	margin-left: 44px;
	position: relative;
}

#u4668-4:active,#u4645-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 160px;
	margin: 0px 0px 0px 44px;
}

#u4645-4:active
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 160px;
	margin: 0px 0px 0px 44px;
}

#u4627-2,#u4629-2,#u4668-2,#u4645-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4668,#u4645
{
	font-size: 25px;
	letter-spacing: 1px;
	color: #45A6A3;
	font-family: museo-slab, serif;
	font-weight: 700;
	line-height: 30px;
}

#pu4666-4,#pu4644-4
{
	width: 0.01px;
	margin-top: 10px;
}

#u4644-4
{
	z-index: 64;
	width: 320px;
	min-height: 162px;
	background-color: #7F7F7F;
	background-color: rgba(0,0,0,0.5);
	padding-left: 30px;
	padding-top: 18px;
	padding-right: 30px;
	color: #FFFFFF;
	line-height: 21px;
	font-size: 14px;
	letter-spacing: 0px;
	font-family: museo-slab, serif;
	font-weight: 100;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.5);
}

#u4646
{
	z-index: 68;
	width: 380px;
	height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	background: transparent url("../../images/nodes_thin.svg") repeat-x left bottom;
	background-size: 136.037px 100px;
}

.nosvg #u4667,.nosvg #u4646
{
	background-image: url('../../images/nodes_thin_poster_u2743.png');
}

#u4623
{
	position: absolute;
	width: 32px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 13px;
	left: 27px;
}

#u4624
{
	z-index: 74;
	width: 19px;
	height: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 6px;
	background: transparent url("../../images/arrow_l.svg") no-repeat right top;
	background-size: cover;
}

#u4624:hover
{
	background-repeat: no-repeat;
	background-position: left center;
	width: 19px;
	height: 31px;
	min-height: 0px;
	margin: 13px -10000px 0px 0px;
	background-size: cover;
}

.nosvg #u4624
{
	background-image: url('../../images/arrow_r_poster_u1191.png');
	background-image: url('../../images/arrow_l_poster_u1201.png');
}

.slider_arrow
{
	border-style: none;
	border-color: #000000;
	opacity: 0.05;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
	filter: alpha(opacity=5);
	background: transparent url("../../images/arrow_r.svg") no-repeat left top;
	background-size: cover;
}

#u4621
{
	position: absolute;
	width: 31px;
	border-style: none;
	background-color: transparent;
	padding-bottom: 18px;
	top: 5px;
	left: 328px;
}

#u4622
{
	z-index: 76;
	width: 19px;
	height: 31px;
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 3px;
	background-size: cover;
}

#u4622:hover
{
	background-repeat: no-repeat;
	background-position: right top;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 19px;
	height: 31px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
	background-size: cover;
}

#u4622:active
{
	background-repeat: no-repeat;
	background-position: right top;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	width: 19px;
	height: 31px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
	background-size: cover;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4698
{
	z-index: 22;
	width: 240px;
	padding-bottom: 76px;
	margin-left: 69px;
	margin-top: 132px;
}

#u4699-9
{
	z-index: 23;
	width: 320px;
	min-height: 56px;
	margin-right: -10000px;
	margin-top: 108px;
	left: -38px;
}

#u4693-8
{
	z-index: 2;
	width: 320px;
	min-height: 24px;
	margin-left: 30px;
	margin-top: 33px;
}

#pbuttonu4694
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 17px;
}

#buttonu4694
{
	z-index: 10;
	width: 148px;
	margin-right: -10000px;
}

#buttonu4694:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4694.ButtonSelected
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u4695-4
{
	z-index: 11;
	width: 126px;
	min-height: 22px;
	padding-top: 7px;
	margin-right: -10000px;
	left: 5px;
}

#buttonu4694:hover #u4695-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4694:active #u4695-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4694.ButtonSelected #u4695-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 126px;
	margin: 0px -10000px 0px 0px;
}

#pbuttonu4696
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 149px;
}

#buttonu4696
{
	z-index: 16;
	width: 155px;
	height: 29px;
	margin-right: -10000px;
}

#pbuttonu4696:hover #buttonu4696
{
	width: 154px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u4697-4
{
	z-index: 17;
	width: 138px;
	min-height: 22px;
	padding-top: 7px;
}

#pbuttonu4696:hover #u4697-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	width: 138px;
	margin-right: -10000px;
	left: 13px;
	min-height: 22px;
}

#pbuttonu4696:active #u4697-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 138px;
}

#pbuttonu4696.ButtonSelected #u4697-4
{
	padding-top: 7px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 138px;
}

#pbuttonu4696 #u4697-4
{
	width: 138px;
	margin-right: -10000px;
	left: 13px;
}

#u4839
{
	z-index: 32;
	min-height: 37px;
	padding-bottom: 18px;
}

#u4840-8
{
	z-index: 115;
	width: 311px;
	min-height: 21px;
	padding-top: 3px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 37px;
}

#u4839-bw
{
	z-index: 32;
	min-height: 37px;
	margin-top: 57px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

